<div class="container ">
    <!-- <div class="row">
        <div class="col-md-6"> -->
    <section class="layout">
        <h2 class="info" >Usuario</h2>
        <div class="divPrimero">
            <section class="datosper" d-flex justify-content-center align-items-center>
                <div class="datostotales">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="titulo">Nombre</td>
                                <td class="datos">Juanito</td>
                            </tr>
                            <tr>
                                <td class="titulo">Segundo Nombre </td>
                                <td class="datos">pepito</td>
                            </tr>
                            <tr>
                                <td class="titulo">Apellido Paterno </td>
                                <td class="datos">Lopez</td>
                            </tr>
                            <tr>
                                <p class="titulo">Apellido Materno</p>
                                <td class="datos">Perez</td>
                            </tr>
                            <tr>
                                <td class="titulo">Cédula</td>
                                <td class="datos">0150367860</td>
                            </tr>
                            <tr>
                                <td class="titulo">Fecha de nacimiento</td>
                                <td class="datos">27-07-2001</td>
                            </tr>
                            <tr>
                                <td class="titulo">Célular</td>
                                <td class="datos">0985860636</td>
                            </tr>
                            <tr>
                                <td class="titulo">Correo Electrónico</td>
                                <td class="datos">mari-mogrovejo@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="titulo">Género</td>
                                <td class="datos">Femenino</td>
                            </tr>
                            <tr>
                                <td class="titulo">Ciudad</td>
                                <td class="datos">Cuenca</td>
                            </tr>
                            <tr>
                                <td class="titulo">Barrio</td>
                                <td class="datos">San Blas</td>
                            </tr>
                            <tr>
                                <td class="titulo">Dirección</td>
                                <td class="datos">Av.Del Tejar</td>
                            </tr>
                            <tr>
                                <td class="titulo">Usuario</td>
                                <td class="datos">maii-geo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>

    </section>
</div>
