<!-- <div class="container ">
    <section class="layout">
        <h2 class="info" >Usuario</h2>
        <div class="divPrimero">
            <section class="datosper" d-flex justify-content-center align-items-center>
                <div class="datostotales">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="titulo">Nombre</td>
                                <td class="datos">Juanito</td>
                            </tr>
                            <tr>
                                <td class="titulo">Segundo Nombre </td>
                                <td class="datos">pepito</td>
                            </tr>
                            <tr>
                                <td class="titulo">Apellido Paterno </td>
                                <td class="datos">Lopez</td>
                            </tr>
                            <tr>
                                <p class="titulo">Apellido Materno</p>
                                <td class="datos">Perez</td>
                            </tr>
                            <tr>
                                <td class="titulo">Cédula</td>
                                <td class="datos">0150367860</td>
                            </tr>
                            <tr>
                                <td class="titulo">Fecha de nacimiento</td>
                                <td class="datos">27-07-2001</td>
                            </tr>
                            <tr>
                                <td class="titulo">Célular</td>
                                <td class="datos">0985860636</td>
                            </tr>
                            <tr>
                                <td class="titulo">Correo Electrónico</td>
                                <td class="datos">mari-mogrovejo@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="titulo">Género</td>
                                <td class="datos">Femenino</td>
                            </tr>
                            <tr>
                                <td class="titulo">Ciudad</td>
                                <td class="datos">Cuenca</td>
                            </tr>
                            <tr>
                                <td class="titulo">Barrio</td>
                                <td class="datos">San Blas</td>
                            </tr>
                            <tr>
                                <td class="titulo">Dirección</td>
                                <td class="datos">Av.Del Tejar</td>
                            </tr>
                            <tr>
                                <td class="titulo">Usuario</td>
                                <td class="datos">maii-geo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>

    </section>
</div> -->
<div class="primero">
  <div class="container">
    <form id="contact" class="row g-3 needs-validation" novalidate>
      <h3>Usuario</h3>
      <div class="col-md-6">
        <label for="validationCustom01" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Cedula</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Celular</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-5">
        <label for="validationCustom02" class="form-label">Correo</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-5">
        <label for="validationCustom02" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2">
        <label for="validationCustom02" class="form-label">Genero</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <label for="validationCustom02" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom02" class="form-label">Barrio</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Referencia</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <!-- <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Username</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
            required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">City</label>
        <input type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom04" class="form-label">State</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Zip</label>
        <input type="text" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div> -->
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
  </div>
</div>