<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <!-- multistep form -->
        <form id="msform">
            <div class="titulo">
                <h1 class="crear">Crear Noticia</h1>
            </div>
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Crear Noticia</li>
                <li>Datos de Noticia</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Crear Noticia</h2>
                <h3 class="fs-subtitle">Ingrese los datos de Noticias</h3>
                <input type="text" name="titulo" placeholder="Titulo" required [(ngModel)]="noticias.tituloNoticia" />
                <input type="date" name="fechanoticia" placeholder="Fecha de noticia" required
                    [(ngModel)]="noticias.fechaNoticia" />
                <input type="text" name="ubicacion" placeholder="Ubicación de la noticia" required
                    [(ngModel)]="noticias.ubicacionNoticia" />
                <textarea rows="5" type="text" name="ubicacion" placeholder="Predescripción de la noticia" required
                    [(ngModel)]="noticias.preDescripcionNoticia"></textarea>
                <!-- <input type="text" class="txtarea" placeholder="PreDescripción de la noticia" required [(ngModel)]="noticias.preDescripcionNoticia" /> -->
                <div>
                    <h2 class="fs-title">Portada de Noticia</h2>
                    <h3 class="fs-subtitle">Seleccione una foto para la Noticia</h3>
                    <form>
                        <label for="foto">Seleccionar foto:</label>
                        <div class="row">
                            <input type="file" name="foto" id="foto" accept="image/*" required
                                (change)="seleccionarFoto($event)">
                            <img [src]="imagenPreview" *ngIf="imagenPreview">
                        </div>
                        <!-- <div>
                            <button ame="botoncito" class="botoncito" (click)="borrarImagen()"
                                *ngIf="imagenPreview">Borrar imagen</button>
                        </div> -->
                    </form>

                </div>
                <input type="button" name="next" class="next action-button" value="Siguiente" />
            </fieldset>
            <fieldset>
                <div>
                    <div class="container">
                        <div class="izquierda">
                            <textarea [(ngModel)]="parrafoInput" rows="5" type="text" name="txtarea" placeholder="Predescripción de la noticia" required></textarea>
                            <!-- <textarea [(ngModel)]="parrafoInput" type="text" id="txtarea" required placeholder="Agregar un Párrafo"></textarea> -->
                            <input type="button" id="botones" class="botoncito" required value="Agregar" (click)="agregarParrafo()" />
                        </div>
                    
                        <div class="derecha" id="derecha">
                            <div class="card ocultar" *ngFor="let p of listaParrafos; let i = index">
                                <p class="nom">Párrafo {{ i + 1 }}</p>
                                <button class="botoncito">Quitar</button>
                                <div class="contenido-card">
                                    <textarea [(ngModel)]="listaParrafos[i]" rows="5" type="text" name="ubicacion" id="txtarea" placeholder="Predescripción de la noticia" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="fs-title">Fotos Noticias</h2>
                    <h3 class="fs-subtitle">Suba las fotos de la Noticia</h3>
                    <form method="POST" action="" enctype="multipart/form-data">
                        <label for="foto">Seleccionar foto:</label>
                        <div class="row">
                            <input type="file" name="foto[]" id="foto" accept="image/*"  >multiple>
                            <img id="imagen-preview" style="display: none;">
                            <input type="button" name="botoncito" class="botoncito" value="Añadir" />
                        </div>

                    </form>
                </div>
                <input type="button" name="previous" class="previous action-button" value="Anterior" />
                <a class="action-button" id="boton-registro" target="_top" (click)="guardarNoticias()">Registrar</a>
            </fieldset>
        </form>
    </div>

</div>