<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <!-- multistep form -->
        <form id="msform">
            <div class="titulo">
                <h1 class="crear">Crear Noticia</h1>
            </div>
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active" style="margin-left: -20%;">Crear Noticia</li>
                <li>Datos de Noticia</li>
                <li>Parrafos</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Crear Noticia</h2>
                <h3 class="fs-subtitle">Ingrese los datos de Noticias</h3>
                <input type="text" name="titulo" placeholder="Titulo" required [(ngModel)]="noticias.tituloNoticia" />
                <input type="date" name="fechanoticia" placeholder="Fecha de noticia" required
                    [(ngModel)]="noticias.fechaNoticia" />
                <input type="text" name="ubicacion" placeholder="Ubicación de la noticia" required
                    [(ngModel)]="noticias.ubicacionNoticia" />
                <textarea rows="5" type="text" name="ubicacion" placeholder="Predescripción de la noticia" required
                    [(ngModel)]="noticias.preDescripcionNoticia"></textarea>
                <div>
                    <h2 class="fs-title">Portada de Noticia</h2>
                    <h3 class="fs-subtitle">Seleccione una foto para la Noticia</h3>
                    <form>
                        <label for="foto">Seleccionar foto:</label>
                        <div class="row">
                            <div class="row">
                                <input type="file" name="foto" id="foto" accept="image/*" required
                                    (change)="seleccionarFoto($event)">
                            </div>
                            <div class="centrado">
                            <img [src]="imagenPreview" *ngIf="imagenPreview" style="padding: 20px" class="fotos">
                            </div>
                        </div>
                        <div>
                            <button name="submit" type="submit" id="contact-submit" data-submit="...Editando"
                                (click)="borrarImagen()" *ngIf="imagenPreview">Borrar Imagen</button>
                        </div>
                    </form>
                </div>
                <input type="button" name="next" class="next action-button" value="Siguiente" />
            </fieldset>
            <fieldset>
                <div>
                    <div class="container">
                        <div class="izquierda">
                            <textarea [(ngModel)]="parrafosObjects.parrafo" rows="5" type="text" name="txtarea"
                                placeholder="Agrega un parrafo"></textarea>
                            <!-- <input type="button" id="botones" class="botoncito" required value="Agregar"
                                (click)="agregarParrafo()" /> -->
                            <input type="button" id="botones" class="botoncito" required value="Agregar"
                                (click)="almacenarListParrafos(parrafosObjects)" />
                        </div>
                        <div class="derecha" id="derecha2">
                            <div class="card" id="card">
                                <div *ngFor="let parralet of listaParrafo" class="derecha2" id="derecha">
                                    <!-- <button class="botoncito" (click)="eliminarParrafos(parrafo)">Quitar</button> -->
                                    <p class="nom">{{ parralet.idParrafo }}</p>
                                    <textarea type="text" value="{{parralet.parrafo}}" id="textarea"></textarea>
                                    <!-- <input type="button" id="botones" class="botoncito" (click)="editarparrafos(parrafo)"
                                        value="Editar" /> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <input type="button" name="previous" class="previous action-button" value="Anterior" />
                <a class="action-button" name="next" class="next action-button" target="_top"
                    (click)="almacenarNoticiaParrafos()">Siguiente</a>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Fotos Noticias</h2>
                <h3 class="fs-subtitle">Suba las fotos de la Noticia</h3>
                <div class="row">
                    <div class="col-12">
                        <form>
                            <label for="foto">Seleccionar foto:</label>
                            <div class="row">
                                <div class="row">
                                    <input type="file" name="foto" id="foto" accept="image/*" required
                                        (change)="seleccionarFoto($event)">
                                </div>
                                <div class="centrado"> 
                                <img [src]="imagenPreview" *ngIf="imagenPreview" style="padding: 20px; width: 100%;" class="fotos">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <button name="submit" type="submit" id="contact-submit" data-submit="...Editando"
                            (click)="borrarImagen()" *ngIf="imagenPreview">Borrar Imagen</button>
                    </div>
                    <div class="col-6" *ngIf="!limiteFotosAlcanzado">
                        <input type="button" name="botoncito" class="botoncito" value="Añadir" id="btnfotos"
                            (click)="almacenarNoticiaFotos()" [disabled]="limiteFotosAlcanzado" />
                    </div>
                </div>
                <br>
                <div class="row align-items-center">
                    <ng-container *ngFor="let imagen of fotosNoticiasUrls">
                        <img [src]="cuerpoUrlFoto + imagen" alt="Imagen {{imagen}}" class="fotitos">
                    </ng-container>

                </div>
                <!-- <div id="previsualizacion" class="img"></div> -->
                <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
                <div class="boton">
                    <a type="button" name="previous" class="botoncito" (click)="fin()">Finalizar</a>
                    <!-- <a class="action-button" id="boton-registro" target="_top" (click)="guardarNoticias()">Registrar</a> -->
                    <!-- </form> -->
                </div>
            </fieldset>
        </form>
    </div>

</div>