<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <!-- TABLA -->
        <div class="row">
            <h2>LISTA DE USUARIOS</h2>
            <a href="/usuarioss/crear" class="a" style="float: center; width: 100px; margin-top: 10px; margin: auto">Agregar</a>
        </div>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0104103080</td>
                        <td>Marilyn Geomayra</td>
                        <td>Mendieta Mogrovejo</td>
                        <td>marilyn-mendieta@hotmail.com</td>
                        <td>marilyn.geo</td>
                        <td><a href="/usuario/edit" class="a" style="float: center; width: 100px; margin-top: 10px; margin: auto">Editar</a></td>
                        <td><a href="" class="a" style="float: center; width: 100px; margin-top: 10px; margin: auto">Eliminar</a></td>
                        <td><a href="" class="a" style="float: center; width: 100px; margin-top: 10px; margin: auto">Ver</a></td>
                        <!-- <td><button class="usuarios">Eliminar</button></td>
                        <td><button class="usuarios">Ver</button></td> -->

                    </tr>
                <tbody>
            </table>
        </div>
    </div>
</div>