<!-- Site footer -->
<!-- <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-2">
        <div class="logo_footer">
          <img height="50%" width="50%" src="../../../assets/img/ARTE_LOGO_PHARMA_2023.png" alt="">
        </div>
      </div>

      <div class="col-sm-8 col-md-4">
        <h6>Pharma Cannabis</h6>
        <p class="text-justify"><i>Pharma Cannabis</i> es una Empresa Farmacéutica Ecuatoriana que se dedica a la
          producción y
          comercialización de productos con cannabis, con fines medicinales.
          Siempre basados en los estudios e investigaciones, a través de una
          gestión privada y en colaboración de la comunidad científica. </p>
      </div>

      <div class="col-xs-6 col-md-2">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#" class="footer-links">Inicio</a></li>
          <li><a href="#" class="footer-links">Conócenos</a></li>
          <li><a href="#" class="footer-links">Conoce Cannabis</a></li>
          <li><a href="#" class="footer-links">Blog</a></li>
          <li><a href="#" class="footer-links">Conoce Nunakay</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-4">
        <h6>Contactos</h6>
        <ul class="footer-links">
          <li class="contac"><i>Teléfono:</i><br> 5937407938</li>
          <li class="contac"><i>Dirección</i><br> <a
              href="https://www.google.es/maps/place/Soinmed+Cia+Ltda/@-2.9118783,-79.0076081,17z/data=!4m10!1m2!2m1!1sAv.+10+de+Agosto+y+Eduardo+Malo(Edif.+Soinmed)!3m6!1s0x91cd186fbba8bc3b:0xd735f82a17001dde!8m2!3d-2.9118837!4d-79.0050278!15sCi5Bdi4gMTAgZGUgQWdvc3RvIHkgRWR1YXJkbyBNYWxvKEVkaWYuIFNvaW5tZWQpkgEabWVkaWNhbF9lcXVpcG1lbnRfc3VwcGxpZXLgAQA!16s%2Fg%2F11cr_s1mpv">Av.
              10 de Agosto y Eduardo Malo(Edif. Soinmed) </a></li>
          <li class="contac"><i>Celular</i><br> <a href="https://wa.me/número">(+593) 98 429 5711</a></li>


        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="#">Marilyn</a>
          &
          <a href="#">William</a>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/pharmacanabismedical/"><i
                class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="https://www.instagram.com/pharmacannabismedical/"><i
                class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->



<footer class="footer-sec">
  <div class="main">
    <div class="logo row">
      <div class="footer-header">
        <div class="imgcenter">
        <img src="../../../assets/img/ARTE_LOGO_PHARMA_2023.png" class="manik" alt="">
        </div>
      </div>
    </div>

    <div class="office row">
      <div class="footer-header">
        <h3>Contactos</h3>
      </div>
      <div class="office-des">
        <p class="encabezado">Teléfono:<br> 59374079380 Ext.1010</p>
        <p class="encabezado">Dirección <br>
          <a
            href="https://www.google.es/maps/place/Soinmed+Cia+Ltda/@-2.9118783,-79.0076081,17z/data=!4m10!1m2!2m1!1sAv.+10+de+Agosto+y+Eduardo+Malo(Edif.+Soinmed)!3m6!1s0x91cd186fbba8bc3b:0xd735f82a17001dde!8m2!3d-2.9118837!4d-79.0050278!15sCi5Bdi4gMTAgZGUgQWdvc3RvIHkgRWR1YXJkbyBNYWxvKEVkaWYuIFNvaW5tZWQpkgEabWVkaWNhbF9lcXVpcG1lbnRfc3VwcGxpZXLgAQA!16s%2Fg%2F11cr_s1mpv">Av.
            10 de Agosto y Eduardo Malo(Edif. Soinmed) </a>
        </p>
        <p class="encabezado">Celular <br>
          <a href="https://wa.me/número">(+593) 98 429 5711</a>
        </p>
      </div>
    </div>

    <div class="link row">
      <div class="footer-header">
        <h3>Apartados</h3>
      </div>
      <div class="link-des">
        <a href="#" class="footer-links">Inicio</a>
        <a href="#" class="footer-links">Conócenos</a>
        <a href="#" class="footer-links">Conoce Cannabis</a>
        <a href="#" class="footer-links">Blog</a>
        <a href="#" class="footer-links">Conoce Nunakay</a>
      </div>

    </div>

    <div class="newsletter row">
      <div class="footer-header">
        <h3>Conoce nuestras redes sociales</h3>
      </div>

      
      <div class="imgcenter">
      <div class="icons">
        <a href="https://www.facebook.com/pharmacanabismedical/"><i class="social-icon ri-facebook-fill"></i></a>
        <a href="https://www.instagram.com/pharmacannabismedical/"><i class="social-icon ri-instagram-line"></i></a>
        <a href="#"><i class="social-icon ri-linkedin-fill"></i></a>
</div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <hr>
    <p>Marilyn y William</p>
  </div>
</footer>