<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-2 pad">
        <div class="logo_footer">
          <img height="100%" width="100%" src="../../../assets/img/ARTE_LOGO_PHARMA_2023.png" alt="">
        </div>
      </div>
      <div class="col-sm-6 col-md-5 pad">
        <h6>Pharma Cannabis</h6>
        <iframe [src]="direccion" safe  width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-xs-6 col-md-2 pad">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#" class="footer-links">Home</a></li>
          <li><a href="/n/nosotros/" class="footer-links">Nosotros</a></li>
          <li><a href="/c/conoce_cannabis/" class="footer-links">Conoce Cannabis</a></li>
          <li><a href="/nt/noticias_Pharma_cannabis/" class="footer-links">Noticias</a></li>
          <li><a href="#" class="footer-links">Conoce Nunakay</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 pad">
        <h6>Contactos</h6>
        <ul class="footer-links">
          <li class="contac"><i>Teléfono:</i><br><span class="icontel"></span> +593 7407938 </li>
          <!-- <li class="contac"><i>Teléfono:</i><br> +593 7407938</li> -->
          <li class="contac"><i>Dirección</i><br><span class="iconubi"></span> <a href="{{direccion1}}">Av.
              10 de Agosto y Eduardo Malo(Edif. Soinmed) </a></li>
          <li class="contac"><i>Celular</i><br><span class="iconwpp"></span> <a href="{{whatsapp}}">(+593)
              98 5696078</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="#">William</a>
          &
          <a href="#">Marilyn</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/pharmacanabismedical/"><i
                class="fa fa-facebook"></i></a></li>
          <li><a class="dribbble" href="https://www.instagram.com/pharmacannabismedical/"><i
                class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>