<!-- ALL -->
<div class="divPrimero">
  <div class="divSegundo">
    <!-- CAROUSEL -->
    <section class="carouselSection">
      <div class="bodyCarusel">
        <div id="carousel-HomeJumbotron" class="carousel slide carousel-fade" data-bs-ride="carousel"
          data-bs-interval="5000">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="0" class="active"
              aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="1" aria-label="Slide 2"
              class=""></button>
            <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="2" aria-label="Slide 3"
              class=""></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item slide-one-image active" role="img" aria-label="adorable photo of a squirrel">
              <div class="carousel-item-bg"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item slide-two-image" role="img" aria-label="photo of the woods">
              <div class="carousel-item-bg"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item slide-three-image" role="img" aria-label="photo of a pond">
              <div class="carousel-item-bg"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-HomeJumbotron"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-HomeJumbotron"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- CAROUSEL -->
  </div>
</div>





<div class="divPrimeroBlack">
  <div class="divSegundo_padingBlack">
    <span class="divTercero">
      <h1 class="h1All">Beneficios del Cannabis</h1>
    </span>
    <!-- CARACTERISTICAS -->
    <section class="caracteristicasSection">
      <div class="bodyCaracteristicas">
        <div class="row">
          <div class="col-md-3">
            <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up">
              <a class="icon-box text-center" style="background-color: #ffffff" data-abc="true">
                <div class="icon">
                  <img src="../../../assets/img/Dolor_Cronico_y_Espacidad.jpg" width="200" />
                </div>
                <div class="content">
                  <h3 class="title fz-20">Dolor Crónico y Espacidad.</h3>
                  <div class="desc">
                    <p class="parrafo1">
                      Dolor crónico, espacidad debida a esclerosis múltiple o
                      paraplejía.
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up">
              <a class="icon-box text-center" style="background-color: #ffffff" data-abc="true">
                <div class="icon">
                  <img src="../../../assets/img/Trastornos_Psicologicos.jpg" width="200" alt="" />
                </div>
                <div class="content">
                  <h3 class="title fz-20">Trastornos Psicológicos.</h3>
                  <div class="desc">
                    <p class="parrafo1">
                      Trastornos de ansiedad, trastorno del sueño, psicosis,
                      glaucoma o síndrome de Tourette.
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up">
              <a class="icon-box text-center" style="background-color: #ffffff" data-abc="true">
                <div class="icon">
                  <img src="../../../assets/img/Pacientes_Oncologicos.jpg" width="200" alt="" />
                </div>
                <div class="content">
                  <h3 class="title fz-20">Pacientes Oncológicos.</h3>
                  <div class="desc">
                    <p class="parrafo1">
                      Disminución significativa de las náuseas y vómitos
                      causados por la quimioterapia.
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up">
              <a class="icon-box text-center" style="background-color: #ffffff" data-abc="true">
                <div class="icon">
                  <img src="../../../assets/img/Trastornos_Alimenticios.jpg" width="200" alt="" />
                </div>
                <div class="content">
                  <h3 class="title fz-20">Trastornos Alimenticios.</h3>
                  <div class="desc">
                    <p class="parrafo1">Estimula el apetito, en varios diagnósticos médicos.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- CARACTERISTICAS -->
  </div>
</div>





<div class="divPrimero">
  <div class="divSegundo_pading">
    <!-- NUNAKAY -->
    <section class="nunakaySection">
      <div class="bodyNunakay">
        <div class="divmain">
          <div class="main-card">
            <div class="card-content">
              <div class="content-left">
                <img class="full-img imgNunakay" [src]=" cuerpoUrlFoto + fotoNunakay1 "
                  alt="Unsplash Image" />
              </div>
              <div class="content-right">
                <div class="tag">
                  <h6 class="h6Nunakay">
                    <button type="button" class="menu-block buttonsecundary">
                      <a href="#" class="secundary"><img src="../../../assets/img/LOGO NUNAKAY horizontal.png"
                          alt=""></a>
                    </button>
                    
                  </h6>

                </div>
                <p class="pNunakay">
                  Nunakay es una marca perteneciente a Pharmacannabis dedicada a la venta de productos cosmetológicos, medicinales y alimenticios con contenido de CBD medicinal.
                </p>
                <section class="imagenes">
                <div class="mini-imgs divimg ">
                  <img class="mini-img imgNunakay" [src]=" cuerpoUrlFoto + fotoNunakay2 " alt="Unsplash Image"
                    onclick="changeImg(1)" />
                   <img class="mini-img imgNunakay" [src]=" cuerpoUrlFoto + fotoNunakay3 "
                    alt="Unsplash Image" onclick="changeImg(2)" />
                  <img class="mini-img imgNunakay" [src]=" cuerpoUrlFoto + fotoNunakay4 " alt="Unsplash Image"
                    onclick="changeImg(3)" />
                </div>
              </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- NUNAKAY -->
  </div>
</div>





<div class="divPrimeroBlack">
  <div class="divSegundo_padingBlack">
    <!-- EMPRESAS -->
    <section class="empresasSection">
      <div class="bodyEmpresas">
        <div class="slider">
          <div class="slide-track">
            <div class="slide"><img src="../../../assets/img/emp1.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp2.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp3.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/Logovet.jpg"  alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp1.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp2.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp3.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/Logovet.jpg"  alt=""></div>

            <div class="slide"><img src="../../../assets/img/emp1.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp2.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp3.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/Logovet.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp1.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp2.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/emp3.jpg" alt=""></div>
            <div class="slide"><img src="../../../assets/img/Logovet.jpg"  alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <!-- EMPRESAS -->
  </div>
</div>
<!-- ALL -->