<!-- ALL -->
<div style="position:relative;">
    <div style="color: #777;background-color:white;text-align:center;padding:0px 0px;text-align: justify;">
        <!-- CAROUSEL -->
        <section class="carouselSection">
            <div class="bodyCarusel">
                <div id="carousel-HomeJumbotron" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="0"
                            class="active" aria-label="Slide 1" aria-current="true"></button>
                        <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="1"
                            aria-label="Slide 2" class=""></button>
                        <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="2"
                            aria-label="Slide 3" class=""></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item slide-one-image active" role="img"
                            aria-label="adorable photo of a squirrel">
                            <div class="carousel-item-bg"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <a class="btn btn-primary home-hero-header" role="button" href="#">
                                            Learn More About Squirrels</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slide-two-image" role="img" aria-label="photo of the woods">
                            <div class="carousel-item-bg"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <a class="btn btn-primary home-hero-header" role="button" href="#">
                                            Take A Walk in the Woods</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slide-three-image" role="img" aria-label="photo of a pond">
                            <div class="carousel-item-bg"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <a class="btn btn-primary home-hero-header" role="button" href="#">
                                            Take a Dip in the Pond</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-HomeJumbotron"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-HomeJumbotron"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <!-- CAROUSEL -->
    </div>
</div>

<div>
    <div>
        <span style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
        <!-- CARACTERISTICAS -->
        <section class="caracteristicasSection">
            <div class="bodycaracteristicas">
                <div class="our-blog">
                    <div class="containerCaracteristicas">
                        <div class="row mt-5">
                            <div class="col">
                                <div class="card">
                                    <img class="imgCaracteristicas"
                                        src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-title h5Caracteristicas">
                                            <a class="aCaracteristicas" href="#">Card Title</a>
                                        </h5>
                                        <p class="card-text pCaracteristicas">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero eaque
                                            animi
                                            pariatur fugit excepturi, fuga delectus facere provident beatae.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card">
                                    <img class="imgCaracteristicas"
                                        src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-title h5Caracteristicas">
                                            <a class="aCaracteristicas" href="#">Card Title</a>
                                        </h5>
                                        <p class="card-text pCaracteristicas">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero eaque
                                            animi
                                            pariatur fugit excepturi, fuga delectus facere provident beatae.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card">
                                    <img class="imgCaracteristicas"
                                        src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-title h5Caracteristicas">
                                            <a class="aCaracteristicas" href="#">Card Title</a>
                                        </h5>
                                        <p class="card-text pCaracteristicas">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero eaque
                                            animi
                                            pariatur fugit excepturi, fuga delectus facere provident beatae.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card">
                                    <img class="imgCaracteristicas"
                                        src="https://images.unsplash.com/photo-1601971935068-fb9281b6deec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-title h5Caracteristicas">
                                            <a class="aCaracteristicas" href="#">Card Title</a>
                                        </h5>
                                        <p class="card-text pCaracteristicas">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero eaque
                                            animi
                                            pariatur fugit excepturi, fuga delectus facere provident beatae.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CARACTERISTICAS -->
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <!-- NUNAKAY -->
        <section class="nunakaySection">
            <div class="bodyNunakay">
                <div class="divmain">
                    <div class="main-card">
                        <div class="card-content">
                            <div class="content-left">
                                <img class="full-img imgNunakay"
                                    src="https://images.unsplash.com/photo-1592431454781-ec4870757ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                                    alt="Unsplash Image">
                            </div>
                            <div class="content-right">
                                <div class="tag">
                                    <h6 class="h6Nunakay"><a class="aNunakay" href="">LEISURE</a></h6>
                                </div>
                                <h2 class="h2Nunakay">Outdoor Experience</h2>
                                <p class="pNunakay">It’s windy. The cool breeze of the lake. It gives, a sense of
                                    beauty, in motion. All
                                    is flowing, rushing and tide-And I sit in wonder, dreaming beside.</p>
                                <div class="mini-imgs">
                                    <img class="mini-img imgNunakay"
                                        src="https://images.unsplash.com/photo-1593346279196-b971a8e46966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1974&q=80"
                                        alt="Unsplash Image" onclick="changeImg(1)">
                                    <img class="mini-img imgNunakay"
                                        src="https://images.unsplash.com/photo-1594884592479-1f5bad0b696d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2002&q=80"
                                        alt="Unsplash Image" onclick="changeImg(2)">
                                    <img class="mini-img imgNunakay"
                                        src="https://images.unsplash.com/photo-1592431454781-ec4870757ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                                        alt="Unsplash Image" onclick="changeImg(3)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- NUNAKAY -->
    </div>
</div>

<div>
    <div>
        <span style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
        <!-- EMPRESAS -->
        <section class="empresasSection">
            <div id="slider-prod">
                <div id="scroller">
                    <div class="prod">
                            <div class="opaImg">
                                <img
                                    src="https://raw.githubusercontent.com/andrei-coelho/slider-juice/master/prod1.png">
                            </div>
                    </div>
                    <div class="prod">
                            <div class="opaImg">
                                <img
                                    src="https://raw.githubusercontent.com/andrei-coelho/slider-juice/master/prod2.png">
                            </div>
                    </div>

                    <div class="prod">
                            <div class="opaImg">
                                <img
                                    src="https://raw.githubusercontent.com/andrei-coelho/slider-juice/master/prod3.png">
                            </div>
                    </div>

                    <div class="prod">
                            <div class="opaImg">
                                <img
                                    src="https://raw.githubusercontent.com/andrei-coelho/slider-juice/master/prod4.png">
                            </div>
                    </div>

                    <div class="prod">
                            <div class="opaImg">
                                <img
                                    src="https://raw.githubusercontent.com/andrei-coelho/slider-juice/master/prod5.png">
                            </div>
                    </div>

                    <div class="prod">
                            <div class="opaImg">
                                <img
                                    src="https://raw.githubusercontent.com/andrei-coelho/slider-juice/master/prod6.png">
                            </div>
                    </div>

                    <div class="prod">
                            <div class="opaImg">
                                <img
                                    src="https://raw.githubusercontent.com/andrei-coelho/slider-juice/master/prod7.png">
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- EMPRESAS -->
    </div>
</div>
<!-- ALL -->