// ALL
$color-all-uno: #ffffff;
$color-all-dos: #ffffff;
$color-fondo1: #1a1e1a;
$color-letra: #000000;
$color-letrav: #3fa22d;
// $color-all-uno: #4d4d4b;
// $color-all-dos: #4d4d4b;
// $color-all-uno: #1a1e1a;
// $color-all-dos: #1a1e1a;
$color-all-empresas: #bbb9bc;
$fuente-principal: "Monserrat", sans-serif;
$fuente-secundaria: "Century Gothic", sans-serif;
$negrita: bold;

.divPrimero {
  position: relative;
  background-color: $color-all-uno;
}

.divSegundo {
  color: #ddd;
  background-color: $color-all-uno;
  text-align: center;
  text-align: justify;
}

.divSegundo_pading {
  color: #ddd;
  background-color: $color-all-uno;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}



.divPrimeroBlack {
  position: relative;
  background-color: $color-all-dos;
}

.divSegundoBlack {
  color: #ddd;
  background-color: $color-all-dos;
  text-align: center;
  text-align: justify;
}

.divSegundo_padingBlack {
  color: #ddd;
  background-color: $color-all-dos;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.divTercero {
  background-color: $color-all-dos;
  font-size: 25px;
  color: $color-all-dos;
  // padding: 10px 10px;
}



.h1All {
  text-align: center;
  font-family: #{$fuente-principal};
  color: $color-letra;
  background-color: $color-letrav;
  padding: auto;
  // box-shadow: 0 15px 5px #3fa22d, 0 10px 10px rgba(169, 159, 159, 0.25);

}

// ALL





// CAROUSEL
.bodyCarusel {
  background-color: $color-letra;
}

.slide-one-image {
  background-image: url("../../../assets/img/fondo_1.jpeg");
  background-position: top center;
}

.slide-two-image {
  background-image: url("../../../assets/img/fondo_2.jpg");
  background-position: top center;
}

.slide-three-image {
  background-image: url("../../../assets/img/fondo_3.jpg");
  background-position: top center;
}

.home-hero-header {
  background-color: #031531;
  color: #fff;
  padding: 10px 50px;
  margin-top: 50vh;
  margin-left: 78%;
  width: max-content;
}

.home-hero-header .btn {
  position: relative;
  bottom: 50%;
}

.carousel-item {
  background-size: cover;
  height: 60vh;
  z-index: -1;
  position: relative;
  width: 100%;
}

.carousel .container {
  z-index: 9999;
  position: relative;

}

.carousel-item-bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;

}

.carousel-item-bg img {
  width: 100% !important;
  height: auto !important;
  opacity: -1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh;
  margin-top: 70px;
}

.carousel-control-next,
.carousel-control-prev {
  top: 0;
}

nav+.carousel {
  top: -60px;
  margin-bottom: -60px;

}

.carousel-item .container img {
  margin: auto 10px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 100% !important;
  height: auto !important;
  max-width: 60%;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 60vh;
  }

  .carousel-inner {
    height: 60vh;

  }

  .home-hero-header {
    background-color: $color-letra;
    color: #fff;
    padding: 3vh 3vw;
    margin-top: 60vh !important;
    margin-left: 0vw;
    width: 100%;

  }

  .carousel-control-next,
  .carousel-control-prev {
    bottom: 350px;
  }

  .home-hero-header p {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 40vh;
  }
}

@media (min-width: 1700px) {
  .carousel-item {
    width: 100%;
    margin: 0 auto;
  }

  .carousel-inner {
    width: 100%;
    margin: 0 auto;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 5%;
  }
}

// CAROUSEL





// CARACTERISTICAS
.caracteristicasSection {

  .bodyCaracteristicas {
    margin: 10px;
    font-family: $fuente-secundaria;
    font-weight: 300;
    text-align: justify;


    .icon-box {
      position: relative;
      display: block;
      padding: 40px 20px 30px;
      -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      border-radius: 5px;
      z-index: 99;
      text-decoration: none;
      background-color: $color-letrav;
      box-shadow: 0 10px 5px $color-letrav, 0 10px 10px rgba(169, 159, 159, 0.25);
    }

    .col-md-3 {
      margin-top: 10px;
    }

    .icon-box .icon {
      margin-bottom: 24px;
    }

    .icon-box:hover {
      z-index: 1;
      // background-color: #abac;
      background-color: $color-fondo1;
      // background-color: $color-all-uno;
      -webkit-box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
      box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
      transform: translateY(-15px);

    }

    .icon-box .content .title.fz-20 {
      font-size: 20px;
    }

    .icon-box .content .title {
      font-size: 24px;
      line-height: 1.5;
      margin: 0;
      color: $color-letra;
    }

    .icon-box .content .desc {
      margin-top: 10px;
    }

    .icon-box .content .desc p {
      line-height: 1.6;
      color: $color-letra;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .title.fz-20 {
      font-weight: $negrita;
    }

    .parrafo1 {
      text-align: justify;
      color: #f7f7f7;

    }
  }
}

// CARACTERISTICAS



// NUNAKAY
.nunakaySection {
  .bodyNunakay {
    box-sizing: border-box;
    font-family: $fuente-secundaria;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: $color-fondo1;
    scroll-behavior: smooth;
  }

  .h6Nunakay {

    .secundary {
      color: #048ABF;
      font-family: $fuente-secundaria;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      text-decoration: none;

    }

    .buttonsecundary {
      display: flex;
      justify-content: center;
      border-radius: 50px;
      background-color: transparent;
      transition: all 0.3s ease-in-out 0s;
      box-shadow: #048ABF 0px 0px 0px 0px;
      animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
      align-items: center;
      background-color: #6654c9;
      background-size: 100% auto;
      // margin: 200px;


      width: 200px;
      height: 80px;
    }

    a img {
      background-color: transparent;
      width: 100%;
      height: 100%;
      padding: 10px;
    }

    .buttonsecundary:is(:hover, :focus) {
      transform: scale(1.2);

    }

    @keyframes pulse {
      100% {
        box-shadow: 0 0 0 10px rgba(193, 244, 246, 0);
      }
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .divmain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color: $color-all-uno;
  }

  .h2Nunakay {
    margin-top: 20px;
    font-size: 3em;
    font-weight: 700;
    color: $color-all-uno;
    line-height: 1;

  }

  .pNunakay {
    margin-top: 20px;
    font-size: 1em;
    color: $color-all-uno;
    font-family: $fuente-principal;
  }

  .main-card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: #303336;
    // box-shadow: 0 10px 5px $color-letrav, 0 10px 10px rgba(169, 159, 159, 0.25);
    background-color: $color-fondo1;
    // box-shadow: 0px 3px 8px rgb(61 74 84 / 10%), 0px 3px 12px rgb(61 74 84 / 6%);
  }

  .main-card .card-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
  }

  .main-card .content-left {
    position: relative;
    width: calc(100% - 0px);
    height: 100%;
    overflow: hidden;
    border-radius: 50px;
    background-color: $color-fondo1;
  }

  .main-card .content-left .imgNunakay {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: block;
    margin: auto;
    object-fit: contain;
    object-position: center;
  }

  .main-card .divimg .imgNunakay {
    width: calc(100% - 800px);
    height: calc(100% - 800px);
    display: block;
    margin: auto;
    object-fit: contain;
    object-position: center;
  }

  .main-card .content-right {
    position: relative;
    width: calc(100% - 100px);
    height: 100%;
    padding-left: 65px;
  }

  .main-card .tag {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: fit-content;
    padding: 8px 25px;
    border-radius: 10px;
  }

  .main-card .tag .h6Nunakay {
    color: #fff;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .main-card .mini-imgs {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 300px;
  }

  .main-card .mini-imgs .imgNunakay {
    width: calc(100% / 3);
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 200ms;
  }

  .main-card .mini-imgs .imgNunakay:hover {
    opacity: 0.75;
  }

  .main-card .mini-imgs .imgNunakay {
    margin-right: 10px;
    margin-left: 10px;
  }


  @media only screen and (max-width: 1600px) {
    .divmain {
      display: flex;
      justify-content: center;
      align-items: start;
      height: auto;
      min-height: 100vh;
    }

    .main-card {
      position: relative;
      width: 100%;
      height: auto;
    }

    .main-card .card-content {
      flex-direction: column;
    }

    .main-card .content-left {
      width: 100%;
      height: 300px;
    }

    .main-card .content-right {
      width: 100%;
      height: auto;
      padding: 175px 0 0;
    }

    .main-card .tag {
      left: 0;
      transform: translateX(0);
    }

    .main-card .mini-imgs {
      position: absolute;
      display: flex;
      top: 0;
      margin-top: 10px;
      height: 105px;
    }

    .main-card .mini-imgs .imgNunakay {
      width: calc(100% / 3);
      height: 200px;
    }
  }

  @media only screen and (max-width: 992px) {
    .divmain {
      display: flex;
      justify-content: center;
      align-items: start;
      height: auto;
      min-height: 100vh;
    }

    .main-card {
      position: relative;
      width: 100%;
      height: auto;
    }

    .main-card .card-content {
      flex-direction: column;
    }

    .main-card .content-left {
      width: 100%;
      height: 300px;
    }

    .main-card .content-right {
      width: 100%;
      height: auto;
      padding: 175px 0 0;
    }

    .main-card .tag {
      left: 0;
      transform: translateX(0);
    }

    .main-card .mini-imgs {
      position: absolute;
      display: flex;
      top: 0;
      margin-top: 35px;
      height: 105px;
    }

    .main-card .mini-imgs .imgNunakay {
      width: calc(100% / 3);
      height: 100px;
    }
  }

  // @media only screen and (max-width: 500px) {
  //   .main-card {
  //     margin: 120px 20px;
  //   }

  //   .main-card .card-content {
  //     padding: 25px;
  //   }

  //   .main-card .content-right {
  //     width: 100%;
  //     height: auto;
  //     padding: 115px 0 0;
  //   }

  //   .main-card .mini-imgs {
  //     margin-top: 20px;
  //   }

  //   .main-card .mini-imgs .imgNunakay {
  //     width: calc(100% / 3);
  //     height: 60px;
  //   }
  // @media screen and (max-width: 992px) {
  //   .content-right {
  //     padding: 30px 15px;
  //   }

  //   .mini-img {
  //     width: 70px;
  //     height: 70px;
  //   }
  // }

  @media screen and (max-width: 768px) {
    .content-right {
      padding: 30px 10px;
    }

    .mini-img {
      width: 50px;
      height: 50px;
    }

    .tag {
      display: none;
    }
  }

}


// NUNAKAY

// EMPRESA
.bodyEmpresas {
  display: grid;
  place-items: center;

  img {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
  }

  .slider {
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .slide-track {
    display: flex;
    width: calc(300px * 18);
    animation: scroll 40s linear infinite;
  }

  .slide-track:hover {
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-300px * 9));
    }
  }

  .slide {
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 300px;
  }

  img {
    width: 100%;
    transition: transform 200ms;
  }

  img:hover {
    transform: translateZ(20px);
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(to right, $color-all-uno 0%, rgba(255, 255, 255, 00) 100%);
    // background-color: $color-fondo1;
    
    // background: linear-gradient(to right, $color-fondo1 0%, rgba(255, 255, 255, 00) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
}


// EMPRESAS