// ALL
$color-all-uno: #bbb9bc;
$color-all-dos: #bbb9bc;
$color-all-empresas: #bbb9bc;

.divPrimero {
  position: relative;
  background-color: $color-all-uno;
}

.divSegundo {
  color: #ddd;
  background-color: $color-all-uno;
  text-align: center;
  text-align: justify;
}

.divSegundo_pading {
  color: #ddd;
  background-color: $color-all-uno;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}



.divPrimeroBlack {
  position: relative;
  background-color: $color-all-dos;
}

.divSegundoBlack {
  color: #ddd;
  background-color: $color-all-dos;
  text-align: center;
  text-align: justify;
}

.divSegundo_padingBlack {
  color: #ddd;
  background-color: $color-all-dos;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}



.divTercero {
  background-color: $color-all-dos;
  font-size: 25px;
  color: #f7f7f7;
  padding: 10px 10px;
}

.h1All {
  text-align: center;
  font-family: 'Lato';
  color: #ffff;
}

// ALL





// CAROUSEL
.bodyCarusel {
  background-color: #000;
}

.slide-one-image {
  background-image: url("../../../assets/img/fondo_1.jpeg");
  background-position: top center;
}

.slide-two-image {
  background-image: url("../../../assets/img/fondo_2.jpg");
  background-position: top center;
}

.slide-three-image {
  background-image: url("../../../assets/img/fondo_3.jpg");
  background-position: top center;
}

.home-hero-header {
  background-color: #031531;
  color: #fff;
  padding: 10px 50px;
  margin-top: 50vh;
  margin-left: 78%;
  width: max-content;
}

.home-hero-header .btn {
  position: relative;
  bottom: 50%;
}

.carousel-item {
  background-size: cover;
  height: 60vh;
  z-index: -1;
  position: relative;
  width: 100%;
}

.carousel .container {
  z-index: 9999;
  position: relative;
}

.carousel-item-bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.home-hero-header p {
  font-weight: 500;
  font-size: 1.4rem;
}

.carousel-item-bg img {
  width: 100% !important;
  height: auto !important;
  opacity: 0.5;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh;
}

.carousel-control-next,
.carousel-control-prev {
  top: 0;
}

nav+.carousel {
  top: -60px;
  margin-bottom: -60px;
}

.carousel-item .container img {
  margin: auto 10px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 100% !important;
  height: auto !important;
  max-width: 60%;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 60vh;
  }

  .carousel-inner {
    height: 60vh;
  }

  .home-hero-header {
    background-color: #031531;
    color: #fff;
    padding: 3vh 3vw;
    margin-top: 60vh !important;
    margin-left: 0vw;
    width: 100%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    bottom: 350px;
  }

  .home-hero-header p {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 40vh;
  }
}

@media (min-width: 1700px) {
  .carousel-item {
    width: 100%;
    margin: 0 auto;
  }

  .carousel-inner {
    width: 100%;
    margin: 0 auto;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 5%;
  }
}

// CAROUSEL





// CARACTERISTICAS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.bodyCaracteristicas {
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  .icon-box {
    position: relative;
    display: block;
    padding: 40px 20px 30px;
    -webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
    border-radius: 5px;
    z-index: 99;
    text-decoration: none;
  }

  .col-md-3 {
    margin-top: 10px;
    box-shadow: 0px 3px 8px rgb(61 74 84 / 10%), 0px 3px 12px rgb(61 74 84 / 6%)
  }

  .icon-box .icon {
    margin-bottom: 24px;
  }

  .icon-box:hover {
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    transform: translateY(-15px);
  }

  .icon-box .content .title.fz-20 {
    font-size: 20px;
  }

  .icon-box .content .title {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    color: #3f3a64;
  }

  .icon-box .content .desc {
    margin-top: 10px;
  }

  .icon-box .content .desc p {
    line-height: 1.6;
    color: #696969;
  }

  p:last-child {
    margin-bottom: 0;
  }

  // .icon-box:hover .content .link {
  //   color: #20ad96;
  // }

  // .icon-box .content .link {
  //   font-size: 14px;
  //   font-weight: 700;
  //   line-height: 1;
  //   display: -webkit-inline-box;
  //   display: -ms-inline-flexbox;
  //   display: inline-flex;
  //   -webkit-box-align: center;
  //   -ms-flex-align: center;
  //   align-items: center;
  //   margin-top: 34px;
  //   padding: 5px 0;
  //   color: #8c89a2;
  // }

  // .icon-box .content .link i {
  //   font-size: 16px;
  //   line-height: 14px;
  //   margin-left: 14px;
  // }
}

// CARACTERISTICAS





// NUNAKAY
.nunakaySection,
.bodyNunakay {
  box-sizing: border-box;
  font-family: 'neuzeit-grotesk', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #303336;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.divmain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-color: #d1e8ee;
}

.h2Nunakay {
  margin-top: 20px;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}

.pNunakay {
  margin-top: 20px;
  font-size: 1em;
  color: #7B8591;
}

.main-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-family: 'neuzeit-grotesk', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #303336;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgb(61 74 84 / 10%), 0px 3px 12px rgb(61 74 84 / 6%)
}

.main-card .card-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.main-card .content-left {
  position: relative;
  width: calc(100% - 0px);
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f6f6f6;
}

.main-card .content-left .imgNunakay {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: block;
  margin: auto;
  object-fit: contain;
  object-position: center;
}

.main-card .divimg .imgNunakay {
  width: calc(100% - 800px);
  height: calc(100% - 800px);
  display: block;
  margin: auto;
  object-fit: contain;
  object-position: center;
}

.main-card .content-right {
  position: relative;
  width: calc(100% - 100px);
  height: 100%;
  padding-left: 65px;
}

.main-card .tag {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  width: fit-content;
  padding: 8px 25px;
  border-radius: 10px;
}

.main-card .tag .h6Nunakay {
  color: #fff;
  font-size: .75em;
  font-weight: 700;
  letter-spacing: 2px;
}

.main-card .mini-imgs {
  position: absolute;
  display: flex;
  bottom: 0;
  height: 300px;
}

.main-card .mini-imgs .imgNunakay {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: 400ms;
}

.main-card .mini-imgs .imgNunakay:hover {
  opacity: .75;
}

.main-card .mini-imgs .imgNunakay:nth-child(2) {
  margin: 0 10px;
}

@media only screen and (max-width: 992px) {

  .divmain {
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    min-height: 100vh;
  }

  .main-card {
    position: relative;
    width: 100%;
    height: auto;
  }

  .main-card .card-content {
    flex-direction: column;
  }

  .main-card .content-left {
    width: 100%;
    height: 300px;
  }

  .main-card .content-right {
    width: 100%;
    height: auto;
    padding: 175px 0 0;
  }

  .main-card .tag {
    left: 0;
    transform: translateX(0);
  }

  .main-card .mini-imgs {
    position: absolute;
    display: flex;
    top: 0;
    margin-top: 35px;
    height: 105px;
  }

  .main-card .mini-imgs .imgNunakay {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

}

@media only screen and (max-width: 500px) {

  .main-card {
    margin: 120px 20px;
  }

  .main-card .card-content {
    padding: 25px;
  }

  .main-card .content-right {
    width: 100%;
    height: auto;
    padding: 115px 0 0;
  }

  .main-card .mini-imgs {
    margin-top: 20px;
  }

  .main-card .mini-imgs .imgNunakay {
    width: 60px;
    height: 60px;
  }

}

.designer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  color: #46a2b9;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.designer .aNunakay {
  text-decoration: none;
  color: #23515d;
}

// NUNAKAY

// EMPRESA

// .empresasSection {
//   align-items: center;
//   background: transparent;
//   display: flex;
//   justify-content: center;

//   @mixin white-gradient {
//     background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
//   }

//   $animationSpeed: 40s;

//   // Animation
//   @keyframes scroll {
//     0% {
//       transform: translateX(0);
//     }

//     100% {
//       transform: translateX(calc(-250px * 7))
//     }
//   }


//   // Styling
//   .slider {
//     background: transparent;
//     box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
//     height: 100px;
//     margin: auto;
//     overflow: hidden;
//     position: relative;
//     width: 960px;

//     &::before,
//     &::after {
//       @include white-gradient;
//       content: "";
//       height: 100px;
//       position: absolute;
//       width: 200px;
//       z-index: 2;
//     }

//     &::after {
//       right: 0;
//       top: 0;
//       transform: rotateZ(180deg);
//     }

//     &::before {
//       left: 0;
//       top: 0;
//     }

//     .slide-track {
//       animation: scroll $animationSpeed linear infinite;
//       display: flex;
//       width: calc(250px * 14);
//     }

//     .slide {
//       height: 100px;
//       width: 250px;
//     }
//   }
// }

.logos-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 15%, #000 85%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 15%, #000 85%, rgba(0, 0, 0, 0) 100%);
}

.logos-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  animation: slide 30s linear infinite;
}

.logos-slider-container img {
  width: 150px;
  max-width: 150px;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0)
  }

  100% {
    transform: translate3d(-100%, 0, 0)
  }
}

.card {
  background: white;
  padding: 2rem;
  margin: 20px;
  border-radius: 1rem;
  max-width: 900px;
  box-shadow: 0px 3px 8px rgb(61 74 84 / 10%), 0px 3px 12px rgb(61 74 84 / 6%)
}

.empresasSection {
  background: $color-all-empresas;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
// EMPRESAS