<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <!-- TABLA -->
        <div class="row">
            <h2>RESPUESTAS AL FORMULARIO</h2>
        </div>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Asunto</th>
                        <th>Celular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Marilyn Mendieta</td>
                        <td>marilyn-mendieta@hotmail.com</td>
                        <td>0969461042</td>
                        <td>QUIERO</td>
                        <td><button class="usuarios">Ocultar</button></td>
                        <td><button class="usuarios">Ver detalle</button></td>

                    </tr>
                <tbody>
            </table>
        </div>
    </div>
</div>
