<!-- ALL -->
<div class="divPrimero">
  <div class="divSegundo2">
    <!-- TABLA -->
    <div class="row">
      <h2>USUARIOS</h2>
      <tr>
        <div class="row">
          <table class="fl-table">
            <thead>
              <tr>
                <td class="contenedor"><a class="buscar"> </a>
                  <select id="mySelect" class="combo" [(ngModel)]="datoEstado" (change)="obtenerUsuarios()">
                    <option value="all">Todo</option>
                    <option value="desbloqueado">Activos</option>
                    <option value="bloqueado">Bloqueados</option>
                  </select>
                </td>

                <div class="search-container">
                  <i class="fa fa-search"></i>
                  <input type="text" name="usuario" placeholder="Cédula, Apellido" id="busqueda">
                  <td class="all"><a (click)="obtenerUsuarios()" class="a">Buscar</a></td>
                </div>

                <td class="all"><a href="/cbd/superAdmin/usuarios/crear" class="a">Agregar</a></td>
                <td class="contenedor"></td>
              </tr>
            </thead>


          </table>
        </div>
      </tr>
    </div>
  </div>
</div>

<div class="divPrimero">
  <div class="divSegundo">
    <!-- <div class="row"> -->
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th>Cédula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usulist of listUsu">
            <td class="no">{{usulist.personas?.cedula}}</td>
            <td class="no">{{usulist.personas?.nombre1}} {{usulist.personas?.nombre2}}</td>
            <td class="no">{{usulist.personas?.apellido1}} {{usulist.personas?.apellido2}}</td>
            <td class="no">{{usulist.personas?.correo}}</td>
            <td class="no">{{usulist.nombreUsuario}}</td>
            <td *ngIf="usulist.bloqueadoUsuario == false && usulist.estUsuario == true"><a class="a"
                (click)="confirmEliminar(usulist)">Eliminar</a> </td>
            <td *ngIf="usulist.bloqueadoUsuario == true && usulist.estUsuario == true"><a class="a"
                (click)="almacenarUsuario(usulist, 'editar')">Editar</a> </td>
            <td *ngIf="usulist.bloqueadoUsuario == true && usulist.estUsuario == true"><a class="a"
                (click)="alertBloquearOrDesbloquear(usulist, 'ocultar', 'no podran', ' oculto', 'ocultar')">Bloquear</a>
            </td>
            <td *ngIf="usulist.bloqueadoUsuario == false  && usulist.estUsuario == true"><a class="a"
                (click)="alertBloquearOrDesbloquear(usulist, 'mostrar', 'podran', ' mostrado', 'mostrar')">Desbloquear</a>
            </td>
            <td><a (click)="almacenarUsuario(usulist, 'detalle')" class="as">Ver</a></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
<!-- </div> -->




<div class="button-container">
  <div *ngIf="pagActua != 0; else elseButonPrevio">
    <button class="button button1" (click)="previoPagina()">
      << </button>
  </div>
  <ng-template #elseButonPrevio>
    <button class="button button1" style="opacity: 0.5">
      << </button>
  </ng-template>
  <div *ngIf="pagActua != pagExist; else elseButtonNext">
    <button class="button button2" (click)="nextPagina()">>></button>
  </div>
  <ng-template #elseButtonNext>
    <button class="button button2" style="opacity: 0.5">>></button>
  </ng-template>
</div>