// ALL
$color-all-uno: #ffffff;
$color-all-dos: #ffffff;
$color-fondo1: #1a1e1a;
$color-letra: #000000;
$color-letrav: #3fa22d;
$color-all-empresas: #bbb9bc;
$fuente-principal: "Monserrat", sans-serif;
$fuente-secundaria: "Century Gothic", sans-serif;
$negrita: bold;

.divPrimero {
  position: relative;
  background-color: $color-all-uno;
  padding: 10px;
}

.divSegundo {
  color: #ddd;
  background-color: $color-all-uno;
  text-align: center;
  text-align: justify;
}

.divSegundo2 {
  color: #ddd;
  background-color: $color-all-uno;
  text-align: center;
  text-align: justify;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba(71, 147, 227, 1);
}

h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 24px;
  color: black;
  margin-top: 60px;
}



/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0 10px 5px $color-letrav, 1px 10px 10px rgba(169, 159, 159, 0.25);

}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;

  white-space: nowrap;
  background-color: white;

}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 10px;
  max-width: 500px;

}

.fl-table .no,
.fl-table th {
  text-align: center;
  padding: 10px;
  word-wrap: break-word;
  max-width: 200px;
  white-space: normal;

}

.no {
  word-wrap: break-word;
  max-width: 200px;
  white-space: normal;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 20px;
  color: #000000;
}

.fl-table thead th {
  color: #ffffff;
  background: #639431;
  font-size: 20px;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #1a590f;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

.usuarios {
  background-color: #3fa22d;
  color: #ffffff;
  margin-right: 5px;
}


/* CSS for screens 768 pixels or less */
/* Responsive */
@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 900px;
  }

  .no {
    word-wrap: break-word;
    max-width: 200px;
    font-size: 1000px;
    white-space: normal;
  }

  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td,
  .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .table-wrapper {
    box-shadow: none;
  
  }
}


.a {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
  padding: auto;
}

.buscar {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}


.a {
  float: center;
  width: 100%;
  margin-top: 10px;
  margin: auto
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  // display: inline-block;
  width: 100%;
  clear: both;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.a {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

.a {
  background-color: $color-letrav;
  border-color: #b3b3b3;
  float: center;
  width: 100%;
  margin-top: 10px;
  margin: auto
}

.combo {
  background-color: $color-letrav;
  border-color: #b3b3b3;
  width: 120px;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  font-family: Helvetica;
}

td:first-child {
  text-align: center;
}

.contenedor {
  text-align: right;
}


.a {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
  padding: auto;
}

.buscar {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}


.a {
  background-color: $color-letrav;
  border-color: #b3b3b3;
  float: center;
  width: 100%;
  margin-top: 10px;
  margin: auto
}
.bloquear{
  background-color: #e66158;
  border-color: #b3b3b3;
}
.desbloquear{
  background-color: #5a96d2;
  border-color: #b3b3b3;
}
.ver{
  background-color: #6ed0d9;
  border-color: #b3b3b3;
}
.editar{
  background-color: #e2c153;
  border-color: #b3b3b3;
}
.eliminar{
  background-color: #e66158;
  border-color: #b3b3b3;
  color: #ffffff;
}


.button-container {
  display: flex;
  justify-content: center;

  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

  .button1 {
    background-color: #4CAF50;
    color: white;
  }

  .button2 {
    background-color: #008CBA;
    color: white;
    margin-left: 10px;
  }
}

//busqueda
.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  width: 500px;
  margin-right: 10px;
}

.search-button {
  padding: 5px 10px;
}

//busqueda