<!-- FONDO -->
<div class="bodyfondo">
  <div class="offset">
<!-- Cards -->
<section class="cardsView">
      <div class="cardsHtml">
        <div class="cardsBody">
          <section class="app-main">
            <div class="row">
              <div class="col-sm-2 col-md-3" *ngFor="let produ of listProductos">
                <div class="card-wrapper main-card">
                  <a class="card cardItemjs" onclick="openModal()" (click)="showModal(produ)">
                    <div class="card-image-wrapper">
                      <img [src]="cuerpoUrlFoto + produ.portadaProducto">
                    </div>
                    <div class="card-info">
                      <div class="card-text big cardText-js">{{produ.nombreProducto}}</div>
                      <div class="card-text small">{{produ.preDescripcionProducto}}</div>
                      <div class="card-text small">
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </section>

          <div id="modal-window" class="hideModal">
            <div class="main-modal">
              <div class="modal-left">

                <div class="modal-image-wrapper">
                  <img [src]="cuerpoUrlFoto + productoObject.portadaProducto">
                </div>

                <div class="modal-info-header-a">
                  <div class="left-side">
                    <h1>{{productoObject.nombreProducto}}</h1>
                  </div>
                </div>

                <div class="desc-wrapper">
                  <div class="modal-info-header">
                    <h1>Descripción</h1>
                    <p>
                      {{productoObject.descripcionProducto}}
                    </p>
                  </div>
                </div>
                  <ul class="icon-list">
                    <li>
                      <a href="https://api.whatsapp.com/send/?phone=593985696078&text&type=phone_number&app_absent=0" class="iconfacebook">
                      </a>
                    </li>
                    <li>
                      <a href="https://api.whatsapp.com/send/?phone=593985696078&text&type=phone_number&app_absent=0" class="iconwpp"></a>
                    </li>
                  </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="button-container">
      <div *ngIf="pagActua != 0; else elseButonPrevio">
        <button class="button button1" (click)="previoPagina()">
          << </button>
      </div>
      <ng-template #elseButonPrevio>
        <button class="button button1" style="opacity: 0.5">
          <<< </button>
      </ng-template>
      <div *ngIf="pagActua != pagExist; else elseButtonNext">
        <button class="button button2" (click)="nextPagina()">
          >>
        </button>
      </div>
      <ng-template #elseButtonNext>
        <button class="button button2" style="opacity: 0.5">>></button>
      </ng-template>
    </div>
<!-- Cards -->

</div>
</div>
<!-- FONDO -->

