<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <span class="divTercero">
            <h1 class="h1All">CANNABIS</h1>
        </span>
        <section class="cannabisInfoSection">
            <!-- INFO CANNABIS -->
            <div class="container">
                <section id="blog-sec">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7 text-lg-right text-lg-right text-color about-text order-last order-lg-1" >
                                <h2><em>"¿Uso Medicinal del Cannabis o Cannabis Medicinal?"</em></h2>
                                <p class="text-lg-right">Si bien se usan indistintamente significan lo mismo. El uso
                                    terapéutico muchas veces ocurre en ausencia de los criterios que
                                    dan al cannabis la calidad medicinal. Se llama Cannabis de Grado
                                    Médico que tiene con control de calidad, cuya producción esta
                                    estandarizada y que cumple con las normas internacionales para
                                    medicamentos herbales. El uso medicinal del cannabis se refiere
                                    sobre todo al fin que le damos y no a su calidad.</p>
                            </div> 
                            <div class="col-lg-5 text-center order-first order-lg-2" >
                                <img src="../../../assets/img/cannabisuso.jpg" alt="primer plano de flores"
                                    class="img-fluid flower-about">
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-5 text-center">
                                <img src="../../../assets/img/benefi.png" alt="primer plano de flores"
                                    class="img-fluid flower-about">
                            </div>
                            <div class="col-lg-7 text-lg-right text-lg-right text-color about-text">
                                <h2><em>"Efectos Medicinales del Cannabis"</em></h2>
                                <p class="text-lg-right">
                                    Anti-inflamatorio<br />
                                    Analgésico<br />
                                    Protector y reparador del tejido nervioso<br />
                                    Anticonvulsivante<br />
                                    Relajante muscular<br />
                                    Anti-tumoral<br />
                                    Anti-náusea y anti-vomitivo<br />
                                    Antiespasmódico<br />
                                    Estimulante del apetito<br />
                                    Ansiolítico & Antipsicótico<br />
                                    Inductor del sueño<br />
                                    Regulador de la inmunidad<br />
                                    Antioxidante<br />
                                    Preventivo de la Recaída y del Síndrome de Abstinencia</p>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-7 text-lg-right text-lg-right text-color about-text order-last order-lg-1" >
                                <h2><em>"Enfermedades que pueden mejorar con el Uso Medicinal del Cannabis"</em></h2>
                                <p class="text-lg-right  overflow: auto">
                                    Dolor Crónico y Espacidad: Dolor crónico, espacidad debida a
                                    esclerosis múltiple o paraplejía<br />

                                    Trastornos Psicológicos: Trastornos de ansiedad, trastorno del
                                    sueño, psicosis, glaucoma o síndrome de Tourette<br />

                                    Pacientes Oncológicos: Disminución significativa de las náuseas y
                                    vómitos causados por la quimioterapia<br />

                                    Trastornos Alimenticios: Estimula el apetito, en varios
                                    diagnósticos médicos.
                                </p>
                            </div>
                            <div class="col-lg-5 text-center order-first order-lg-2">
                                <img src="../../../assets/img/iconocan.jpg" alt="primer plano de flores"
                                    class="img-fluid flower-about">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- INFO CANNABIS -->
        </section>
    </div>
</div>





<div class="divPrimero">
    <div class="divSegundo_pading">
        <span class="divTercero">
            <h1 class="h1All">Proceso de cultivo de cannabis</h1>
        </span>
        <section class="tarjetaSection">
            <!-- pROCESO cULTIVO -->
            <div class="row">
                <div class="col-md-3">
                    <!-- <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up"> -->
                        <div class="cardBox">
                            <div class="card">
                                <div class="front">
                                    <img src="../../../assets/img/GERMINACION.jpeg" alt="">
                                </div>
                                <div class="back" >
                                    <h3>Germinación</h3>
                                    <p>Germinar las semillas esto se hace sumergiendo las semillas en agua durante unas
                                        horas hasta
                                        que se ablanden. Luego, se colocan las semillas en un medio de cultivo húmedo y
                                        se mantienen
                                        en un lugar cálido y oscuro hasta que germinen.</p>
                                </div>
                            </div>
                        
                    </div>
                </div>

                <div class="col-md-3">
                        <div class="cardBox">
                            <div class="card">
                                <div class="front">
                                    <img src="../../../assets/img/VEGETACION.jpeg" alt="">
                                </div>
                                <div class="back" >
                                    <h3>Vegetación</h3>
                                    <p>Se plantan en una maceta con tierra y se colocan bajo luces especiales para la
                                        fase de
                                        vegetación. Durante esta fase, las plantas crecerán hojas y tallos.</p>
                                </div>
                            
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <!-- <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up"> -->

                        <div class="cardBox">
                            <div class="card" >
                                <div class="front">
                                    <img src="../../../assets/img/FLORACION.jpeg" alt="">
                                </div>
                                <div class="back"  >
                                    <h3>Floración</h3>
                                    <p>Durante esta fase, se cambia la iluminación para que las plantas reciban
                                        más
                                        horas de
                                        oscuridad que de luz.</p>
                                </div>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <!-- <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up"> -->
                        <div class="cardBox">
                            <div class="card">
                                <div class="front">
                                    <img src="../../../assets/img/COSECHA.jpeg" alt="">
                                </div>
                                <div class="back">
                                    <h3>Cosecha</h3>
                                    <p>Finalmente, cuando los cogollos estén maduros y llenos de resina, se
                                        cosechan las
                                        plantas.
                                        Los cogollos se cortan y se cuelgan para secar, lo que puede llevar
                                        varios días.
                                    </p>
                                </div>
                            
                        </div>
                    </div>
                </div>

                <!-- pROCESO cULTIVO -->
            </div>

        </section>
    </div>
</div>
<!-- ALL -->