<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <h1 class="hola"></h1>

        <div class="divTercero">
            <h1 class="h1All">CANNABIS</h1>
        </div>
        <section class="cannabis">
            <div class="container">
                <!--BLOG  -->
                <!-- <section class="blog"> -->
                <div class="row">
                    <div class="col-sm-2 col-md-8">
                        <h1 class="titulo1">¿Uso Medicinal del Cannabis o Cannabis Medicinal?</h1>
                        <p class="descripcion">Si bien se usan indistintamente significan lo mismo. El uso
                            terapéutico muchas veces ocurre en ausencia de los criterios que dan al cannabis la calidad
                            medicinal. Se llama Cannabis de Grado Médico que tiene con control de calidad, cuya
                            producción esta estandarizada y que cumple con las normas internacionales para medicamentos
                            herbales. El uso medicinal del cannabis se refiere sobre todo al fin que le damos y no a su
                            calidad.</p>

                    </div>
                    <div class="col-sm-3 col-md-3">
                        <img src="../../../assets/img/cannabisuso.jpg" alt="Mision">
                    </div>
                    <div class="col-sm-3 col-md-7">
                        <img src="../../../assets/img/benefi.png" alt="Mision">
                    </div>
                    <div class="col-sm-2 col-md-5">
                        <h1 class="titulo1">Efectos Medicinales del Cannabis</h1>
                        <p class="descripcion">Anti-inflamatorio<br>
                            Analgésico<br>
                            Protector y reparador del tejido nervioso<br>
                            Anticonvulsivante<br>
                            Relajante muscular<br>
                            Anti-tumoral<br>
                            Anti-náusea y anti-vomitivo<br>
                            Antiespasmódico<br>
                            Estimulante del apetito<br>
                            Ansiolítico & Antipsicótico<br>
                            Inductor del sueño<br>
                            Regulador de la inmunidad<br>
                            Antioxidante<br>
                            Preventivo de la Recaída y del Síndrome de Abstinencia</p>

                    </div>

                    <div class="col-sm-2 col-md-7">

                        <h1 class="titulo1">Enfermedades que pueden mejorar con el Uso Medicinal del Cannabis</h1>
                        <p class="descripcion">Dolor Crónico y Espacidad: Dolor crónico, espacidad debida a esclerosis
                            múltiple o paraplejía<br>

                            Trastornos Psicológicos: Trastornos de ansiedad, trastorno del sueño, psicosis, glaucoma o
                            síndrome de Tourette<br>

                            Pacientes Oncológicos: Disminución significativa de las náuseas y vómitos causados por la
                            quimioterapia<br>

                            Trastornos Alimenticios: Estimula el apetito, en varios diagnósticos médicos.</p>

                    </div>
                    <div class="col-sm-3 col-md-4">
                        <img src="../../../assets/img/iconocan.jpg" alt="Mision">
                    </div>


                </div>
            </div>

        </section>
        <section class="tarjetagi">
            <div>
            <!-- <section class="tarjeta giratorias"> -->


            <div class="boxesContainer">
                <h1>Flip Cards Responsive</h1>

                <div class="cardBox">
                    <div class="card">
                        <div class="front">
                            <h3>Card One</h3>
                            <p>Hover to flip</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div class="back">
                            <h3>Back Side One</h3>
                            <p>Content in card one</p>
                            <a href="#">Button 1</a>
                        </div>
                    </div>
                </div>

                <div class="cardBox">
                    <div class="card">
                        <div class="front">
                            <h3>Card Two</h3>
                            <p>Hover to flip</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div class="back">
                            <h3>Back Side Two</h3>
                            <p>Content in card two</p>
                            <a href="#">Button 2</a>
                        </div>
                    </div>
                </div>

                <div class="cardBox">
                    <div class="card">
                        <div class="front">
                            <h3>Card Three</h3>
                            <p>Hover to flip</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div class="back">
                            <h3>Back Side Three</h3>
                            <p>Content in card three</p>
                            <a href="#">Button 3</a>
                        </div>
                    </div>
                </div>

                <div class="cardBox">
                    <div class="card">
                        <div class="front">
                            <h3>Card Four</h3>
                            <p>Hover to flip</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div class="back">
                            <h3>Back Side Four</h3>
                            <p>Content in card four</p>
                            <a href="#">Button 4</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </section>
        <!--.boxesContainer-->
        <!-- </section> -->

        <!-- CAROUSEL -->

        <!-- CAROUSEL -->


    </div>
</div>