<div class="primero">
    <div class="container">
        <form >
            <h3>Editar datos</h3>
            <div class="row">
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Nombre</p>
                        <input placeholder="Nombre" type="text" name="nombre_user" tabindex="1" required autofocus>
                    </fieldset>
                </div>
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Nombre 2</p>
                        <input placeholder="Nombre 2" type="text" name="nombre2_user" tabindex="2" required autofocus
                            value="Juliana">
                        <!-- <input placeholder="Email" type="email" name="email_empresa" tabindex="2" required
                            value="SoindMed@gmail.com"> -->
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Apellido </p>
                        <input placeholder="Apellido" type="text" name="apellido_user" tabindex="3" required autofocus
                            value="Perez">
                    </fieldset>
                </div>
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Apellido 2</p>
                        <input placeholder="Apellido 2" type="text" name="apellido2_user" tabindex="4" required
                            autofocus value="Quezada">
                        <!-- <input placeholder="Email" type="email" name="email_empresa" tabindex="2" required
                            value="SoindMed@gmail.com"> -->
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Cédula </p>
                        <input placeholder="Cedula" type="text" name="cedula_user" tabindex="5" required autofocus
                            value="0104103080">
                    </fieldset>
                </div>
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Celular</p>
                        <input placeholder="Celular" type="tel" name="celular_user" tabindex="6" required autofocus
                            value="0985860636">
                    </fieldset>
                </div>
            </div>
            <fieldset>
                <p class="nom">Fecha de Nacimiento</p>
                <input placeholder="Fecha de nacimiento" name="fechanacimiento" class="date" type="date" tabindex="7"
                    required autofocus value="2023-09-27">
                <!-- <p class="nom">Celular</p>
                <input placeholder="Celular" type="tel" name="celular_empresa" tabindex="3" required value="0999999999"> -->
            </fieldset>
            <div class="row">
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Ciudad </p>
                        <input placeholder="Ciudad" type="text" name="ciudad_user" tabindex="8" required autofocus
                            value="Cuenca">
                    </fieldset>
                </div>
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Sexo</p>
                        <select class="select half-width" tabindex="9" name="sexo_user">
                            <option>Femenino</option>
                            <option>Masculino</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <fieldset>
                <p class="nom">Dirección</p>
                <input placeholder="Direccion" type="text" name="direccion_user" tabindex="10" required autofocus
                    value="San Jose de Balzay">
            </fieldset>
            <p>Datos Usuario</p>
            <div class="row">
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Nombre de Usuario </p>
                        <input placeholder="Nombre de Usuario" type="text" name="nombre_user" tabindex="11" required
                            autofocus value="maiigeo">
                    </fieldset>
                </div>
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Correo de usuario</p>
                        <input placeholder="Correo de usuario" type="email" name="correo_user" tabindex="13" required
                            autofocus value="maiigeo@gmail.com">
                    </fieldset>
                </div>
            </div>
            <fieldset>
                <p class="nom">Rol</p>
                <select class="select half-width" tabindex="14" name="rol_user">
                    <option>Administrador</option>
                    <option>Empleado</option>
                    <option>Cliente</option>
                </select>
            </fieldset>
            <!-- <div class="row">
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Contraseña </p>
                        <input type="password" name="pass" placeholder="Contraseña"  class="half-width" required />
                    </fieldset>
                </div>
                <div class="half-width">
                    <fieldset>
                        <p class="nom">Correo de usuario</p>
                        <input placeholder="Correo de usuario" type="email" name="correo_user" tabindex="13" required
                            autofocus value="maiigeo@gmail.com">
                    </fieldset>
                </div>
            </div> -->
            <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando"
                href="/admin">Editar</button>

        </form>
    </div>
</div>
