<div class="primero">
    <div class="container">
        <form id="contact" >
            <h3>Editar datos de empresa</h3>
            <fieldset>
                <p class="nom">Nombre</p>
                <input placeholder="Nombre" type="text" name="nombre_empresa" tabindex="1" required [(ngModel)]="empresaData.nombreEmpresa">
            </fieldset>
            <fieldset>
                <p class="nom">Email</p>
                <input placeholder="Email" type="email" name="email_empresa" tabindex="2" required [(ngModel)]="empresaData.emailEmpresa">
            </fieldset>
            <fieldset>
                <p class="nom">Celular</p>
                <input placeholder="Celular" type="tel" name="celular_empresa" tabindex="3" required [(ngModel)]="empresaData.celularEmpresa">
            </fieldset>
            <fieldset>
                <p class="nom">Link de whatsapp</p>
                <input placeholder="Link de whatsapp " type="url" name="sitio_web_empresa" tabindex="4" required [(ngModel)]="empresaData.urlCelularEmpresa">
            </fieldset>
            <fieldset>
                <p class="nom">Telefono</p>
                <input placeholder="Telefono" type="tel" name="telefono_empresa" tabindex="5" required [(ngModel)]="empresaData.telefonoEmpresa">
            </fieldset>
            <fieldset>
                <p class="nom">Dirección en html de google maps</p>
                <input placeholder="Dirección google en html " type="url" name="sitio_web_empresa" tabindex="6" required [(ngModel)]="empresaData.urlDireccionEmpresaGoogle">
            </fieldset>
            <fieldset>
                <p class="nom">Dirección de mapa</p>
                <input placeholder="Dirección maps" type="url" name="sitio_web_empresa" tabindex="7" required [(ngModel)]="empresaData.urlDireccionEmpresa">
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando" (click)="updateEmpresas(empresaData)">Editar</button>
            </fieldset>
        </form>
    </div>
</div>