<main class="main-container">
    <div class="login-wrapper">
        <div class="left-container">
            <div class="main">
                <h1>Login</h1>
                <form>
                    <input type="email" name="mail" placeholder="Type your email" [(ngModel)]="lgmodel.usernameOrEmail">
                    <input type="password" name="password" placeholder="Type your password" [(ngModel)]="lgmodel.password">
                    <div class="forgotPass">
                        <a href="#">Forgot your password?</a>
                    </div>
                    <div class="login-now">
                        <a (click)="postLogin()" >Login Now</a>
                    </div>

                    <span class="line"></span>
                </form>
            </div>
        </div>
        <div class="side-container">
            <div class="side-text-container">
                <div class="short-line">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</main>