/* body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://40.media.tumblr.com/1b916597d3e174399cb7adadddb66ede/tumblr_nt5uk4psl31ud7rr3o1_1280.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://68.media.tumblr.com/d3fd545cd977a174beef12c1106880bf/tumblr_nt505iKkul1ud7rr3o1_1280.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://68.media.tumblr.com/ac46aa24b44b5036e9200abb71f810d9/tumblr_nt5vzxV6Us1ud7rr3o1_1280.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
} */



.carouselSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nunakaySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CAROUSEL */
.carousel {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  bottom: 20%;
}

.carousel-caption h5,
.carousel-caption p {
  color: #fff;
  margin: 0;
}

.carousel-caption h5 {
  font-size: 2rem;
}

.carousel-caption p {
  font-size: 1.5rem;
}

.carousel-caption button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
/* CAROUSEL */





/* NUNAKAY */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color : #1dd1a1;
    --active-color : #2ecc71;

}

body{
    background-color: #f5f5f5;
    font-family: "Muli",poppins;
    height: 100vh;
}

.slider-container{
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative; 
    color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.right-slides{
    position: absolute;
    left: 35%;
    top: 0;
    width: 65%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.left-slides > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-slides h3{
    font-size: 3rem;
    margin-bottom: 10px;
}

.left-slides p{
    font-size: 1.5rem;
}

.right-slides > div{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button{

}

.slider-container button{
    position: absolute;
    left: 35%;
    top: 50%;
    font-size: 1.5rem;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #444;
}

button:hover{
    opacity: 0.9;
}

button:focus{
    outline: none;
}

.slider-container .left-btn{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.slider-container .right-btn{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* NUNAKAY */

/* @media screen and (max-width: 1050px){
  .carousel {
    width: 100%;
    height: 50vh;
    min-height: 400px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  } */









/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container-slider
{
  position: relative;
  display: block;
  width: 100%;
}
#slider {
  position: relative;
  display: block;
  width: 100%;
  height: 60vh;
  min-height: 400px;
}
#slider li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: -1;
  opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
  font-size: 30pt;
  color: rgba(204, 204, 204, 0.65);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 2; 
}
#container-slider .arrowNext {
  left: initial;
  right: 50px !important;
}
.content_slider{
  padding: 15px 30px;
  color: #FFF;
  width: 100%;
  height: 100%;
}
.content_slider div{
  text-align: center;
}
.content_slider h2{
  font-family: 'arial';
  font-size: 30pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content_slider p {
  font-size: 15pt;
  font-family: 'arial';
  color: #FFF;
  margin-bottom: 20px;
}
#slider li .content_slider{
  background: rgba(0, 0, 0, 0.50);
  padding: 10px 125px;
}
.content_slider{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSlider{
  color: #FFF;
  font-size: 15pt;
  font-family: 'arial';
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 1px solid #CCC;
  background: rgba(37, 40, 80, 0.55);
  border-radius: 31px;
  text-decoration: none;
  transition: .5s all;
}
.btnSlider:hover{
  background: #111;
  border: 1px solid #111;
}
.listslider {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}
.listslider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}
.listslider li a {
  background: #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}
.item-select-slid {
  background: #FFF  !important;
}

@media screen and (max-width: 460px){
.content_slider h2 {
    font-size: 15pt !important;
}
.content_slider p {
    font-size: 12pt !important;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
  font-size: 20pt;
}
#container-slider .arrowPrev{
  left: 15px;
}
#container-slider .arrowNext{
  right: 15px !important;
}
#slider{
  height: 400px;
  min-height: 400px;
}
#slider li .content_slider{
  padding: 10px 35px;
}
.btnSlider{
  padding: 10px 30px;
    font-size: 10pt;
}

} */
