<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <!-- multistep form -->
        <form id="msform">
            <div class="titulo">
                <h1 class="crear">Crear Usuario</h1>
            </div>
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Crear Usuario</li>
                <li>Datos de Usuario</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Crear Usuario</h2>
                <h3 class="fs-subtitle">Ingrese los datos de persona</h3>
                <div class="row">
                    <input type="text" name="cedula" placeholder="Cédula" class="half-width" required
                        [(ngModel)]="personaObject.cedula" (input)="cargarCedula()" (blur)="validarcedula()" />
                    <input type="text" name="celular" placeholder="Celular" class="half-width" required
                        [disabled]="cedulaRegistrada" [(ngModel)]="personaObject.celular"  (blur)="validarcelular()"/>
                    <!-- <div class="invalid-feedback">Por favor, complete est  e campo.</div> -->
                </div>
                <div class="row">
                    <input type="text" name="nombre1" placeholder="Nombre 1" class="half-width" required
                        [disabled]="cedulaRegistrada" [(ngModel)]="personaObject.nombre1" (blur)="validarnombre()"  />
                    <!-- <div class="invalid-feedback">Por favor, complete este campo.</div> -->
                    <input type="text" name="nombre2" placeholder="Nombre 2" class="half-width" required
                        [disabled]="cedulaRegistrada" [(ngModel)]="personaObject.nombre2" (blur)="validarnombre()"  />
                </div>
                <div class="row">
                    <input type="text" name="apellido1" placeholder="Apellido 1" class="half-width" required
                        [disabled]="cedulaRegistrada" [(ngModel)]="personaObject.apellido1" (blur)="validarapellido()" />
                    <input type="text" name="apellido2" placeholder="Apellido 2" class="half-width" required
                        [disabled]="cedulaRegistrada" [(ngModel)]="personaObject.apellido2"  (blur)="validarapellido()" />
                </div>
                    <input type="date" name="fechanacimiento" placeholder="Fecha de nacimiento" required
                    [(ngModel)]="personaObject.fNacimiento">

                <!-- <div class="row"> -->
                <!-- <div *ngIf="!cedulaRegistrada">
                    <input type="date" name="fechanacimiento" placeholder="Fecha de nacimiento"
                        value="Fecha de nacimiento" required [(ngModel)]="personaObject.fNacimiento">
                </div>
                <div *ngIf="cedulaRegistrada">
                    <input type="text" name="fechanacimiento" placeholder="Fecha de nacimiento"
                        value="Fecha de nacimiento" [(ngModel)]="personaObject.fNacimiento"
                        [disabled]="cedulaRegistrada">
                </div> -->


                <div *ngIf="!cedulaRegistrada">
                    <select id="mySelectGenero" required>
                        <option disabled selected>Seleccione una opción</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                </div>
                <div *ngIf="cedulaRegistrada">
                    <input type="text" name="genero" placeholder="Genero" value="genero"
                        [(ngModel)]="personaObject.genero" [disabled]="cedulaRegistrada">
                </div>
                <!-- </div> -->
                <input type="email" name="correo" placeholder="Correo Electrónico" required (blur)="existCorreo()" 
                    [disabled]="cedulaRegistrada" [(ngModel)]="personaObject.correo" />

                <div class="row">

                    <input type="text" name="ciudad" placeholder="Ciudad" class="half-width" required
                        [(ngModel)]="personaObject.ciudad" [disabled]="cedulaRegistrada"   />

                    <input type="text" name="barrio" placeholder="Barrio" class="half-width" required
                        [(ngModel)]="personaObject.barrio" [disabled]="cedulaRegistrada" />
                </div>
                <input type="text" name="referencia" placeholder="Referencia" required [disabled]="cedulaRegistrada"
                    [(ngModel)]="personaObject.referencia" />

                <input type="button" name="next" class="next action-button" id="next" value="Siguiente"
                    [disabled]="existCorreov" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Datos de Usuario</h2>
                <h3 class="fs-subtitle">Ingrese los Datos de Usuario</h3>
                <input type="text" name="nombre_usuario" placeholder="Nombre de Usuario" class="half-width" required
                    [(ngModel)]="usuarioData.nombreUsuario" (blur)="validarNameUsuario()" />
                <!-- <input type="text" name="correo_usuario" placeholder="Correo de Usuario"  class="half-width" required /> -->
                <select id="mySelectRol" class="select half-width" required>
                    <option disabled selected>Seleccione una opción</option>
                    <option value="ROLE_ADMIN">Administrador</option>
                    <option value="ROLE_EMPLEADO">Empleado</option>
                </select>
                <input type="password" name="pass" placeholder="Contraseña" class="half-width" required
                    (blur)="validarContra()" [(ngModel)]="usuarioData.passwordUsuario" />
                <input type="password" name="cpass" id="cpass" placeholder="Confirmar Contraseña" class="half-width" (blur)="validarContra()"
                    required />

                <div>
                    <h2 class="fs-title">Foto de usuario</h2>
                    <h3 class="fs-subtitle">Seleccione una foto para el usuario</h3>
                    <form>
                        <label for="foto">Seleccionar foto:</label>
                        <div class="row">
                            <input type="file" name="foto" id="foto" accept="image/*" required
                                (change)="seleccionarFoto($event)">
                            <img [src]="imagenPreview" *ngIf="imagenPreview">
                        </div>
                        <div>
                            <button ame="botoncito" class="botoncito" (click)="borrarImagen()"
                                *ngIf="imagenPreview">Borrar imagen</button>
                        </div>
                    </form>

                </div>

                <input type="button" name="previous" class="previous action-button" value="Anterior" />
                <button class="submit action-button" id="btn-registrar" target="_top" (click)="almacenarNew()" [disabled]="estadoSaveUpdate">Registrar</button>
            </fieldset>
        </form>
    </div>
</div>