$color-all-uno: #ffffff;
$color-all-dos: #ffffff;
$color-fondo1: #1a1e1a;
$color-letra: #000000;
$color-letrav: #3fa22d;
$color-all-uno: #4d4d4b;
$color-all-dos: #4d4d4b;
$color-all-uno: #1a1e1a;
$color-all-dos: #1a1e1a;
$color-all-empresas: #bbb9bc;
$fuente-principal: "Monserrat", sans-serif;
$fuente-secundaria: "Century Gothic", sans-serif;
$negrita: bold;

.divPrimero {
	position: relative;
	/* background-color: $color-all-uno; */
	padding-top: 60px;
}

.divSegundo {
	color: #ddd;
	/* background-color: $color-all-uno; */
	text-align: center;
	text-align: justify;
	padding: 10px;
}

/* //formulario */

/*basic reset*/
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/
	background:
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
	box-shadow: 0 10px 5px $color-letrav, 0 10px 10px rgba(169, 159, 159, 0.25);
}

body {
	font-family: montserrat, arial, verdana;
}

/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 10px 10px 5px $color-letrav, 10px 10px 10px rgba(169, 159, 159, 0.25);
	// box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 5%;
	background-color: #27AE60;

	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input,
#msform select,
#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
	text-decoration: none;
	font-size: 14px;
}

#msform .action-button:hover,
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	margin-top: 10px;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	float: right;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
.botoncito{
	background-color: black;
    color: white;
}


/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: relative;
	left: -50%;
	top: 9px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: #27AE60;
	color: white;
}

.titulo {
	padding-bottom: 10px;
	color: #000000;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.half-width {
	flex-basis: calc(50% - 20px);
	margin: 0 10px;
}

@media (max-width: 358px) {
	.row {
		flex-direction: column;
		margin: 0;
	}

	.half-width {
		flex-basis: 100%;
		margin: 0;
		max-width: 100%;
	}
}

@media (max-width: 550px) {
	.divSegundo[_ngcontent-ng-c3964330478] {
		color: #ddd;
		text-align: center;
		text-align: justify;
		// padding-top: 100px;
		// padding-left: 10px;
		// padding-right: 10px;
	}

	/*form styles*/

	#msform {
		width: 450px;

		text-align: center;
		position: relative;
	}

	#msform fieldset {
		margin: 0px;
	}

}

//