<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <form id="msform">

            <!-- <section class="formularioSection"> -->
            <!-- <form id="contact" action="" method="post"> -->
            <div class="titulo">
                <h1 class="crear">Editar datos</h1>
            </div>
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Editar Noticia</li>
                <li>Social Profiles</li>
                <li>Personal Details</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>

                <h2 class="fs-title">Datos de Noticia</h2>
                <input type="text" name="Titulo" [(ngModel)]="noticia.tituloNoticia" placeholder="Título" required
                    (ngModelChange)="cambio()" />
                <input type="date" name="Fecha" [(ngModel)]="noticia.fechaNoticia" placeholder="Fecha" required
                    (ngModelChange)="cambio()" />
                <input type="text" name="Ubicación" [(ngModel)]="noticia.ubicacionNoticia" placeholder="Ubicación"
                    required (ngModelChange)="cambio()" />
                <input type="text" name="PreDescripción" [(ngModel)]="noticia.preDescripcionNoticia"
                    placeholder="PreDescripción" required (ngModelChange)="cambio()" />
                <div>
                    <h2 class="fs-title">Portada de Noticia</h2>
                    <form>
                        <div class="row" *ngIf="editFoto">
                            <div *ngIf="!imagenPreview">
                                <input type="file" name="foto" id="foto" accept="image/*" required
                                    (change)="seleccionarFoto($event)">
                            </div>
                            <div class="centrado">
                            <img [src]="imagenPreview" *ngIf="imagenPreview" style="padding: 20px;" class="fotos">
                            </div>
                        </div>
                        <div class="row" *ngIf="!editFoto">
                            <div class="centrado">
                            <img [src]=" cuerpoUrlFoto + noticia.portadaNoticia " (alt)="noticia.portadaNoticia"
                                style="padding: 20px;" class="fotos" />
                            </div>
                            <button name="submit" type="submit" id="contact-submit" data-submit="...Editando"
                                (click)="editarFoto()">Editar</button>
                        </div>
                        <div>
                            <button name="submit" type="submit" id="contact-submit" data-submit="...Editando"
                                (click)="borrarImagen()" *ngIf="imagenPreview">Borrar Imagen</button>
                        </div>
                    </form>
                </div>
                <input type="button" id="btn-siguiente" name="next" class="next action-button" value="Siguiente"
                    (click)="editnoticia(); getParrafos();" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Párrafos</h2>
                <h3 class="fs-subtitle">Edite los Parrafos</h3>
                <!-- <div class="container"> -->
                <div class="row">
                    <!-- <div class="col-12"> -->
                        <!-- <div class="izquierda"> -->
                        <textarea type="text" [rows]="5" class="txtarea" id="txtareaprincipal"
                            [(ngModel)]="parrafo.parrafo" [ngModelOptions]="{standalone: true}" name="first"
                            placeholder="Agregar un Parrafo" required></textarea>
                        <input type="button" id="botones" class="botoncito" (click)="guardarparrafos()" required
                            value="Agregar" />
                        <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div class="col-12"> -->
                        <div class="row">
                            <div class="col" >
                                <!-- <div> -->
                                <div class="card" *ngFor="let parrafo of listaParrafos; let i=index">
                                    <!-- <div class="derecha"
                                                id="derecha"> -->
                                    <p class="nom" value="parrafo.idParrafo">Parrafo {{ i + 1 }}</p>
                                    <textarea type="text" [(ngModel)]="parrafo.parrafo"
                                        name="parrafo{{parrafo.idParrafo}}" id="textarea"></textarea>
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="button" id="botones" class="botoncito"
                                                (click)="eliminarParrafos(parrafo)" value="Quitar" />
                                        </div>
                                        <div class="col-6">
                                            <input type="button" id="botones" class="botoncito"
                                                (click)="editarparrafos(parrafo)" value="Editar" />
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>


                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" id="btn-siguiente" name="next" class="next action-button" value="Siguiente" (click)="getImagenesNoticias()" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Fotos Noticias</h2>
                <h3 class="fs-subtitle">Edite las fotos de la Noticia</h3>
                <div class="row">
                    <div class="col-12">
                        <form>
                            <label for="foto">Seleccionar foto:</label>
                            <div class="row">
                                <div class="row">
                                    <input type="file" name="foto" id="foto" accept="image/*" required
                                        (change)="seleccionarFoto($event)">
                                </div>
                                <div class="centrado">
                                <img [src]="imagenPreview" *ngIf="imagenPreview" style="padding: 20px;" class="fotos">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <input type="button" name="botoncito" class="botoncito" value="Borrar Imagen" id="btnfotos"
                        (click)="borrarImagen()"  *ngIf="imagenPreview" />
                    </div>
                    <div class="col-6" *ngIf="imagenPreview">
                        <input type="button" name="botoncito" class="botoncito" value="Añadir" id="btnfotos"
                            (click)="SaveNoticiaFotos()" [disabled]="limiteFotosAlcanzado" />
                    </div>
                </div>
                <br>
                <div class="row align-items-center">
                    <div class="row">
                        <!-- <div class="col-sm-1 col-md-3"> -->
                            <ng-container *ngFor="let imagen of listaImagenesNoticias">
                                <div class="col">
                                <img  [src]="cuerpoUrlFoto + imagen.fotosNoticia" alt="Imagen {{imagen.fotosNoticia}}"  class="fotitos">
                                <input type="button" name="botoncito" class="botoncito" value="borrar" id="btnfotos"
                                    (click)="DeleteNoticiaFotos(imagen)" />
                                </div>
                            </ng-container>
                        </div>
                    <!-- </div> -->
                </div>
                <!-- <div id="previsualizacion" class="img"></div> -->
                <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
                <a type="button" name="previous" class="botoncito" (click)="fin()" href="/cbd/admin/noticias/listar">Finalizar </a>
                <!-- <a class="action-button" id="boton-registro" target="_top" (click)="guardarNoticias()">Registrar</a> -->
                <!-- </form> -->
            </fieldset>
        </form>
        <!-- </form> -->
        <!-- </section> -->
    </div>
</div>