<div class="primero">
    <div class="container">
        <section class="formularioSection">
            <form id="contact" action="" method="post">
                <h3>Editar datos</h3>
                <fieldset>
                    <p class="nom">Titulo</p>
                    <input placeholder="Nombre" type="text" name="titulo_noti" required value="Contrato">
                </fieldset>
                <div class="row">
                    <div class="half-width">
                        <fieldset>
                            <p class="nom">Ubicación</p>
                            <input placeholder="Ubicacion" type="text" name="ubicacion_noti" required
                                value="Av.del Tejar">
                        </fieldset>
                    </div>
                    <div class="half-width">
                        <fieldset>
                            <p class="nom">Fecha de Noticia</p>
                            <input placeholder="Fecha de noticia" name="fechanoticia" class="date" type="date" required
                                value="2023-09-27">
                        </fieldset>
                    </div>
                </div>
                <fieldset>
                    <p class="nom">Descripción</p>
                    <textarea placeholder="Descripcion" type="text" name="titulo_noti">Contrato </textarea>
                </fieldset>

                <div class="row">

                    <fieldset>
                        <p class="nom">Parrafos</p>
                        <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando" class="submit"
                            href="/admin" onclick="mostrar()">Editar Parrafos
                        </button>
                    </fieldset>
                </div>
                <!-- <textarea placeholder="Parrafos" type="text" name="parrafo_noti" tabindex="5" required
                        value="assssssssssssss"></textarea> -->

                <div>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando"
                        href="/admin">Editar</button>
                </div>
            </form>
        </section>
    </div>
</div>


<section class="layout3" id="layout3">
    <!-- TARJETAS -->
    <div class="container-card">

        <div class="card">
            <p class="nom">Parrafo</p>
            <div class="contenido-card">
                <textarea placeholder="Parrafo" type="text" name="titulo_noti" class="txtarea">HOLAAAAAAAAAAAAAAAAAAA</textarea>
            </div>
        </div>

        <div class="card">
            <p class="nom">Parrafo</p>
            <div class="contenido-card">
                <textarea placeholder="Parrafo" type="text" name="titulo_noti" class="txtarea">YAAAAAAAAAAAAAAAAAAAAAAA</textarea>
            </div>
        </div>

        <div class="card">
            <p class="nom">Parrafo</p>
            <div class="contenido-card">
                <textarea placeholder="Parrafo" type="text" name="titulo_noti" class="txtarea">SI SOY</textarea>
            </div>
        </div>
        <div class="card">
            <p class="nom">Parrafo</p>
            <div class="contenido-card">
                <textarea placeholder="Descripcion" type="text" name="titulo_noti" class="txtarea" >chiiiiiiiiiiiiiii</textarea>
            </div>
        </div>
    </div>
</section>