<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <form id="msform">

            <!-- <section class="formularioSection"> -->
            <!-- <form id="contact" action="" method="post"> -->
            <div class="titulo">
                <h1 class="crear">Editar datos</h1>
            </div>
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Editar Noticia</li>
                <li>Social Profiles</li>
                <li>Personal Details</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>

                <h2 class="fs-title">Datos de Noticia</h2>
                <input type="text" name="Titulo" [(ngModel)]="noticia.tituloNoticia" placeholder="Título" required />
                <input type="date" name="Fecha" [(ngModel)]="noticia.fechaNoticia" placeholder="Fecha" required />
                <input type="text" name="Ubicación" [(ngModel)]="noticia.ubicacionNoticia" placeholder="Ubicación"
                    required />
                <input type="text" name="PreDescripción" [(ngModel)]="noticia.preDescripcionNoticia"
                    placeholder="PreDescripción" required />
                <div>
                    <h2 class="fs-title">Portada de Noticia</h2>
                    <!-- <form>
                        <label for="foto">Seleccionar foto:</label>
                        <div class="row">
                            <input type="file" name="foto" id="foto" value="noticia.portadaNoticia" accept="image/*">
                            <div class="fotoDetalle">
                                <img class="fondo" *ngIf="imgprincipal5 != ''" src="{{imgprincipal5}}" alt="">
                            </div>

                        </div>
                        <div>
                            <button ame="botoncito" class="botoncito">Borrar
                                imagen</button>
                            <button ame="botoncito" class="botoncito" (click)="almacenarFoto()">guardar imagen</button> -->
                    <!-- </div>
                    </form> -->
                    <form>
                        <div class="row" *ngIf="editFoto">
                            <div *ngIf="!imagenPreview">
                                <input type="file" name="foto" id="foto" accept="image/*" required
                                    (change)="seleccionarFoto($event)">
                            </div>
                            <img [src]="imagenPreview" *ngIf="imagenPreview" style="padding: 20px; width: 100%;">
                        </div>
                        <div class="row" *ngIf="!editFoto">
                            <img [src]=" cuerpoUrlFoto + noticia.portadaNoticia " (alt)="noticia.portadaNoticia"
                                style="padding: 20px; width: 79%;" />
                            <button name="submit" type="submit" id="contact-submit" data-submit="...Editando"
                                (click)="editarFoto()">Editar</button>
                        </div>
                        <div>
                            <button name="submit" type="submit" id="contact-submit" data-submit="...Editando"
                                (click)="borrarImagen()" *ngIf="imagenPreview">Borrar Imagen</button>
                        </div>
                    </form>
                </div>
                <input type="button" id="btn-siguiente" name="next" class="next action-button" value="Siguiente"
                    (click)="editarnoticia()" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Párrafos</h2>
                <h3 class="fs-subtitle">Edite los Parrafos</h3>
                <div class="container">

                    <div class="izquierda">
                        <textarea type="text" class="txtarea" id="txtareaprincipal" [(ngModel)]="parrafo.parrafo"
                            [ngModelOptions]="{standalone: true}" name="first" placeholder="Agregar un Parrafo"
                            required></textarea>
                        <input type="button" id="botones" class="botoncito" (click)="guardarparrafos()" required
                            value="Agregar" />
                    </div>
                    <!-- <div class="derecha" id="derecha">
                        <div class="card" id="card">
                            <div *ngFor="let parrafod of listaParrafos" class="derecha" id="derecha">
                                <button class="botoncito" (click)="eliminarParrafos(parrafod)">Quitar</button>
                                <p class="nom" value="parrafod.idParrafo">Parrafo </p>
                                <textarea type="text" [(ngModel)]="parrafod.parrafo"
                                    name="parrafo{{parrafod.idParrafo}}"></textarea>
                    <button (click)="parrafo.idParrafo !== undefined && editarparrafos(parrafod)">Editar</button>s
                    <input type="button" id="botones" class="botoncito" (click)="editarparrafos(parrafod)"
                                    value="Editar" />
                            </div>
                        </div>
                    </div> -->

                    <div class="derecha" id="derecha">
                        <div class="card" id="card">
                            <div *ngFor="let parrafo of listaParrafos; let i=index" class="derecha" id="derecha">
                                <button class="botoncito" (click)="eliminarParrafos(parrafo)">Quitar</button>
                                <p class="nom" value="parrafo.idParrafo">Parrafo {{ i + 1 }}</p>
                                <textarea type="text" [(ngModel)]="parrafo.parrafo" 
                                    name="parrafo{{parrafo.idParrafo}}" id="textarea"></textarea>
                                <input type="button" id="botones" class="botoncito" (click)="editarparrafos(parrafo)"
                                    value="Editar" />
                            </div>
                        </div>
                    </div>

                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" id="btn-siguiente" name="next" class="next action-button" value="Siguiente" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Fotos Noticias</h2>
                <h3 class="fs-subtitle">Edite las fotos de la Noticia</h3>
                <form method="POST" action="" enctype="multipart/form-data">
                    <label for="foto">Seleccionar foto:</label>
                    <div class="row">
                        <input type="file" name="fotos[]" id="fotos" accept="image/*"
                            (change)="seleccionarFoto($event)">
                        <input type="button" name="botoncito" class="botoncito" value="Añadir" id="btnfotos"
                            (click)="almacenarFotoNoticia()" />
                    </div>
                    <div class="row align-items-center">
                        <ng-container *ngFor="let imagen of listaImagenesNoticias">
                            <button class="botoncito" (click)="eliminarfotosNoticias(imagen)">Quitar</button>
                            <img [src]="cuerpoUrlFoto + imagen.fotosNoticia" alt="Imagen {{imagen.fotosNoticia  }}">
                        </ng-container>

                    </div>
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <a href="/cbd/admin/noticias/listar" class="submit action-button" target="_top">Finalizar</a>
                </form>
            </fieldset>
        </form>
        <!-- </form> -->
        <!-- </section> -->
    </div>
</div>