<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <!-- TABLA -->
        <div class="row">
            <h2>RESPUESTAS AL FORMULARIO</h2>
            <tr>
                <div class="row">
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <td class="contenedor">
                                    <select id="mySelect" class="combo" [(ngModel)]="datoEstado"
                                        (change)="obtenerContactanos()">
                                        <option disabled selected>Seleccione una opción</option>
                                        <option value="all">Todo</option>
                                        <option value="activo">Activos</option>
                                        <option value="desactivo">Desactivos</option>
                                    </select>
                                </td>
                                <div class="search-container">
                                    <i class="fa fa-search"></i>
                                    <input type="text" name="usuario" placeholder="Nombre, Fecha" id="busqueda">
                                    <td class="all"><a (click)="obtenerContactanos()" class="a">Buscar</a></td>

                                    <!-- <input placeholder="Nombre" name="titulo_noti" id="busqueda"> -->
                                    <!-- <td class="all"><a  class="a">Buscar</a></td> -->
                                </div>

                            </tr>
                        </thead>

                    </table>
                </div>
            </tr>

        </div>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Asunto</th>
                        <th>Celular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contac of listContactanos">
                        <ng-container *ngIf="contac.estVisto == false">
                            <td [ngStyle]="{'font-weight': 'bold'}">{{contac.nombreContactanos}}</td>
                            <td [ngStyle]="{'font-weight': 'bold'}">{{contac.emailContactanos}}</td>
                            <td [ngStyle]="{'font-weight': 'bold'}">{{contac.asuntoContactanos}}</td>
                            <td [ngStyle]="{'font-weight': 'bold'}">{{contac.celularContactanos}}</td>
                        </ng-container>

                        <ng-container *ngIf="contac.estVisto == true">
                            <td>{{contac.nombreContactanos}}</td>
                            <td>{{contac.emailContactanos}}</td>
                            <td>{{contac.asuntoContactanos}}</td>
                            <td>{{contac.celularContactanos}}</td>
                        </ng-container>
                        <td *ngIf="contac.estOcultoVisibleContactanos == false"><a class="a"
                                (click)="confirmEliminar(contac)">Eliminar</a> </td>
                        <!-- <td><a href="/cbd/admin/contactanos/detalle" class="as">Ver Detalle</a></td> -->
                        <td *ngIf="contac.estOcultoVisibleContactanos == false"><a class="a"
                                (click)="alertOcultarMostrar(contac, 'mostrar', 'podran', 'noticia mostrada', 'mostrar')">Activar</a>
                        </td>
                        <td *ngIf="contac.estOcultoVisibleContactanos == true"><a class="a"
                                (click)="alertOcultarMostrar(contac, 'ocultar', 'no podran', 'noticia ocultada', 'ocultar')">Desactivar</a>
                        </td>
                        <td><a class="a" (click)="setContactanosDetalle(contac)">Ver</a>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>

        <div class="button-container">
            <div *ngIf="pagActua != 0; else elseButonPrevio">
                <button class="button button1" (click)="previoPagina()">
                    << </button>
            </div>
            <ng-template #elseButonPrevio>
                <button class="button button1" style="opacity: 0.5">
                    <<< </button>
            </ng-template>
            <div *ngIf="pagActua != pagExist; else elseButtonNext">
                <button class="button button2" (click)="nextPagina()">
                    >>
                </button>
            </div>
            <ng-template #elseButtonNext>
                <button class="button button2" style="opacity: 0.5">>></button>
            </ng-template>
        </div>
    </div>
</div>