<!-- <div class="container ">
    <section class="layout">
        <h2 class="info" >Usuario</h2>
        <div class="divPrimero">
            <section class="datosper" d-flex justify-content-center align-items-center>
                <div class="datostotales">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="titulo">Nombre</td>
                                <td class="datos">Juanito</td>
                            </tr>
                            <tr>
                                <td class="titulo">Segundo Nombre </td>
                                <td class="datos">pepito</td>
                            </tr>
                            <tr>
                                <td class="titulo">Apellido Paterno </td>
                                <td class="datos">Lopez</td>
                            </tr>
                            <tr>
                                <p class="titulo">Apellido Materno</p>
                                <td class="datos">Perez</td>
                            </tr>
                            <tr>
                                <td class="titulo">Cédula</td>
                                <td class="datos">0150367860</td>
                            </tr>
                            <tr>
                                <td class="titulo">Fecha de nacimiento</td>
                                <td class="datos">27-07-2001</td>
                            </tr>
                            <tr>
                                <td class="titulo">Célular</td>
                                <td class="datos">0985860636</td>
                            </tr>
                            <tr>
                                <td class="titulo">Correo Electrónico</td>
                                <td class="datos">mari-mogrovejo@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="titulo">Género</td>
                                <td class="datos">Femenino</td>
                            </tr>
                            <tr>
                                <td class="titulo">Ciudad</td>
                                <td class="datos">Cuenca</td>
                            </tr>
                            <tr>
                                <td class="titulo">Barrio</td>
                                <td class="datos">San Blas</td>
                            </tr>
                            <tr>
                                <td class="titulo">Dirección</td>
                                <td class="datos">Av.Del Tejar</td>
                            </tr>
                            <tr>
                                <td class="titulo">Usuario</td>
                                <td class="datos">maii-geo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>

    </section>
</div> -->
<div class="primero">
  <div class="container">
    <form id="contact">
      <h3>Usuario</h3>
      <!-- <div class="card"> -->
      <!-- <div class="card-header">
          Featured
        </div> -->
      <div class="card-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-4">
              <img [src]=" cuerpoUrlFoto + usuariosObject.fotoUsuario " (alt)="usuariosObject.fotoUsuario"
                style="padding: 20px; max-width: 260px;" />
              <br>
              <label for="inputNombre" class="form-label">Nombre de usuario</label>
              <input type="text" class="form-control" id="inputNombre" value="{{usuariosObject.nombreUsuario}}" required
                disabled="true">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <label for="inputNombres" class="form-label">Nombres</label>
                  <input type="text" class="form-control" id="inputNombres"
                    value="{{usuariosObject.personas?.nombre1}}  {{usuariosObject.personas?.nombre2}}" required
                    disabled="true">
                </div>
                <div class="col-md-4">
                  <label for="inputApellidos" class="form-label">Apellidos</label>
                  <input type="text" class="form-control" id="inputApellidos"
                    value="{{usuariosObject.personas?.apellido1}}  {{usuariosObject.personas?.apellido2}}" required
                    disabled="true">
                </div>
                <div class="col-md-4">
                  <label for="inputNacimiento" class="form-label">Fecha de nacimiento</label>
                  <input type="text" class="form-control" id="inputNacimiento"
                    value="{{usuariosObject.personas?.fNacimiento}}" required disabled="true">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="inputCedula" class="form-label">Cedula</label>
                  <input type="text" class="form-control" id="inputCedula" value="{{usuariosObject.personas?.cedula}}"
                    required disabled="true">
                </div>
                <div class="col-md-4">
                  <label for="inputCelular" class="form-label">Celular</label>
                  <input type="text" class="form-control" id="inputCelular" value="{{usuariosObject.personas?.celular}}"
                    required disabled="true">
                </div>
                <div class="col-md-4">
                  <label for="inputCorreo" class="form-label">Correo</label>
                  <input type="text" class="form-control" id="inputCorreo" value="{{usuariosObject.personas?.correo}}"
                    required disabled="true">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="inputCiudad" class="form-label">Ciudad</label>
                  <input type="text" class="form-control" id="inputCiudad" value="{{usuariosObject.personas?.ciudad}}"
                    required disabled="true">
                </div>
                <div class="col-md-6">
                  <label for="inputBarrio" class="form-label">Barrio</label>
                  <input type="text" class="form-control" id="inputBarrio" value="{{usuariosObject.personas?.barrio}}"
                    required disabled="true">
                </div>
                <div class="col-md-12">
                  <label for="inputReferencia" class="form-label">Referencia</label>
                  <textarea type="text" class="form-control" id="inputReferencia"
                    value="{{usuariosObject.personas?.referencia}}"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button name="submit" type="submit" id="contact-submit" data-submit="...Saliendo"
          (click)="salir()">Exit</button>
      </div>
    </form>
  </div>
</div>