<div class="primero">
    <div class="container">
        <div class="primero center">
            <form id="contact">
                <h3>Editar datos</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <form>
                                <div class="row" *ngIf="editFoto">
                                    <div *ngIf="!imagenPreview">
                                        <input type="file" name="foto" id="foto" accept="image/*" required
                                            (change)="seleccionarFoto($event)">
                                    </div>
                                    <img [src]="imagenPreview" *ngIf="imagenPreview"
                                        style="padding: 20px; width: 100%;">
                                </div>
                                <div class="row" *ngIf="!editFoto">
                                    <img [src]=" cuerpoUrlFoto + usuariosObject.fotoUsuario "
                                        (alt)="usuariosObject.fotoUsuario" style="padding: 20px; width: 79%;" />
                                    <button name="submit" type="submit" id="contact-submit" data-submit="...Editando"
                                        (click)="editarFoto()">Editar</button>
                                </div>
                                <div>
                                    <button class="borrar" name="submit" type="submit" id="contact-submit" data-submit="...Editando"
                                        (click)="borrarImagen()" *ngIf="imagenPreview">Borrar Imagen</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <p class="nom">Cedula</p>
                                    <input placeholder="Cedula" type="text" name="cedula_user" tabindex="1"
                                        disabled="true" value="{{personasObject.cedula}}" autofocus>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <p class="nom==">Fecha de Nacimiento</p>
                                    <input placeholder="Fnacimiento" type="date"  class="fecha" name="Fnacimiento_user" tabindex="2"
                                        disabled="true" value="{{personasObject.fNacimiento}}" autofocus>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                </div>
                                <fieldset>
                                    <p class="nom">Genero</p>
                                    <select id="mySelectGenero" required>
                                        <option disabled>Seleccione una opción</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Masculino">Masculino</option>
                                    </select>
                                    <!-- <input placeholder="Genero" type="text" name="genero_user" tabindex="2" required
                                        [(ngModel)]="personasObject.genero" autofocus> -->
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <p class="nom">Nombre de Usuario</p>
                                    <input placeholder="Nombre usu" type="text" name="nombre_user" tabindex="2"
                                        disabled="true" value="{{usuariosObject.nombreUsuario}}" autofocus>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <p class="nom">Nombre 1</p>
                                    <input placeholder="Nombre 1" type="text" name="nombre1_user" tabindex="2" required maxlength="10" minlength="2"
                                        [(ngModel)]="personasObject.nombre1" autofocus>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <p class="nom">Nombre 2</p>
                                    <input placeholder="Nombre 2" type="text" name="nombre2_user" tabindex="2" required maxlength="10" minlength="2"
                                        [(ngModel)]="personasObject.nombre2" autofocus>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <p class="nom">Apellido 1</p>
                                    <input placeholder="Apellido 1" type="text" name="apellido1_user" tabindex="2" maxlength="10" minlength="2"
                                        required [(ngModel)]="personasObject.apellido1" autofocus>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <p class="nom">Apellido 2</p>
                                    <input placeholder="Apellido 2" type="text" name="apellido2_user" tabindex="2" maxlength="10" minlength="2"
                                        required [(ngModel)]="personasObject.apellido2" autofocus>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <fieldset>
                                <p class="nom">Celular</p>
                                <input placeholder="Celular" type="text" name="celular_user" tabindex="2" required maxlength="10" minlength="10"
                                    [(ngModel)]="personasObject.celular" required="ddd">
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset>
                                <p class="nom">Correo</p>
                                <input placeholder="Correo" type="text" name="correo_user" tabindex="2" required maxlength="100" minlength="10"
                                    [(ngModel)]="personasObject.correo" autofocus>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset>
                                <p class="nom">Password</p>
                                <input placeholder="password" type="password" name="password_user" tabindex="2" required maxlength="20" minlength="8"
                                    [(ngModel)]="usuariosObject.passwordUsuario" autofocus>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset>
                                <p class="nom">Rol</p>
                                <select id="mySelectRol" class="select half-width" required>
                                    <option disabled>Seleccione una opción</option>
                                    <option value="ROLE_ADMIN">Administrador</option>
                                    <option value="ROLE_EMPLEADO">Empleado</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <p class="nom">Ciudad</p>
                                <input placeholder="ciudad" type="text" name="ciudad_user" tabindex="2" required maxlength="50" minlength="5"
                                    [(ngModel)]="personasObject.ciudad" autofocus>
                            </fieldset>
                            <fieldset>
                                <p class="nom">Barrio</p>
                                <input placeholder="barrio" type="text" name="barrio_user" tabindex="2" required maxlength="50" minlength="5"
                                    [(ngModel)]="personasObject.barrio" autofocus>
                            </fieldset>
                        </div>
                        <div class="col-md-8">
                            <fieldset>
                                <p class="nom">Referencia</p>
                                <textarea placeholder="referencia" type="text" name="referencia_user" tabindex="2" maxlength="200" minlength="10"
                                    required [(ngModel)]="personasObject.referencia" autofocus></textarea>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando" (click)="updatePersonaUsuario()"
                     required>Editar</button>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Saliendo" (click)="salir()"
                     required>Salir</button>
            </form>
        </div>
    </div>
</div>