<div class="primero">
    <div class="container">
            <h3>Editar datos de empresa</h3>
        <form (ngSubmit) = "postEmpresa()">
            <fieldset>
                <p class="nom">Nombre</p>
                <input placeholder="Nombre" type="text" name="nombre_empresa" tabindex="1" required autofocus value="{{empresaData.nombreEmpresa}}">
            </fieldset>
            <fieldset>
                <p class="nom">Email</p>
                <input placeholder="Email" type="email" name="email_empresa" tabindex="2" required value="{{empresaData.emailEmpresa}}">
            </fieldset>
            <fieldset>
                <p class="nom">Celular</p>
                <input placeholder="Celular" type="tel" name="celular_empresa" tabindex="3" required value="{{empresaData.celularEmpresa}}">
            </fieldset>
            <fieldset>
                <p class="nom">Link de whatsapp</p>
                <input placeholder="Link de whatsapp " type="url" name="sitio_web_empresa" tabindex="4" required value="{{empresaData.urlCelularEmpresa}}">
            </fieldset>
            <fieldset>
                <p class="nom">Telefono</p>
                <input placeholder="Telefono" type="tel" name="telefono_empresa" tabindex="5" required value="{{empresaData.telefonoEmpresa}}">
            </fieldset>
            <fieldset>
                <p class="nom">Dirección en html de google maps</p>
                <input placeholder="Dirección google en html " type="url" name="direccion_google_html" tabindex="6" required  value="{{empresaData.urlDireccionEmpresaGoogle}}">
            </fieldset>
            <fieldset>
                <p class="nom">Dirección de mapa</p>
                <input placeholder="Dirección maps" type="url" name="sitio_web_empresa" tabindex="7" required value="{{empresaData.urlDireccionEmpresa}}">
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando" href="#" (click)="postEmpresa()" >Editar</button>
            </fieldset>
        </form>
    </div>
</div>