<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <!-- TABLA -->
        <div class="row">
            <h2>NOTICIAS</h2>
            <tr>
                <div class="row">
                    <div class="">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <select id="mySelect" class="combo" [(ngModel)]="datoEstado"
                                        (change)="obtenerNoticias()">
                                        <option disabled selected>Seleccione una opción</option>
                                        <option value="all">Todo</option>
                                        <option value="activo">Activos</option>
                                        <option value="desactivo">Desactivos</option>
                                    </select>
                                </tr>
                                <div class="search-container">
                                    <i class="fa fa-search"></i>
                                    <input type="text" name="usuario" placeholder="Nombre, Fecha" id="busqueda">
                                    <!-- <input placeholder="Nombre" name="titulo_noti" id="busqueda"> -->
                                    <td class="all"><a (click)="obtenerNoticias()" class="a">Buscar</a></td>
                                </div>
                                <td class="all"><a href="/cbd/admin/noticias/crear" class="a">Agregar</a></td>
                                <td class="contenedor">
                                </td>
                            </thead>
                        </table>
                    </div>
                </div>
            </tr>

        </div>


        <!-- <div class="divPrimero">
    <div class="divSegundo"> -->
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Ubicación</th>
                        <th>Fecha</th>
                        <th>Pre descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let noti of listNoticias">
                        <td class="no">{{noti.tituloNoticia}}</td>
                        <td class="no">{{noti.ubicacionNoticia}}</td>
                        <td class="no">{{noti.fechaNoticia}}</td>
                        <td class="no">{{noti.preDescripcionNoticia}}</td>
                        <td *ngIf="noti.estOcultoVisibleNoticia == true"><a class="a">Editar</a> </td>
                        <td *ngIf="noti.estOcultoVisibleNoticia == false"><a class="a"
                                (click)="confirmEliminar(noti)">Eliminar</a> </td>
                        <td *ngIf="noti.estOcultoVisibleNoticia == false"><a class="a"
                                (click)="alertOcultarMostrar(noti, 'mostrar', 'podran', 'noticia mostrada', 'mostrar')">Activar</a>
                        </td>
                        <td *ngIf="noti.estOcultoVisibleNoticia == true"><a class="a"
                                (click)="alertOcultarMostrar(noti, 'ocultar', 'no podran', 'noticia ocultada', 'ocultar')">Desactivar</a>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>

        <div class="button-container">
            <div *ngIf="pagActua != 0; else elseButonPrevio">
                <button class="button button1" (click)="previoPagina()">
                    << </button>
            </div>
            <ng-template #elseButonPrevio>
                <button class="button button1" style="opacity: 0.5">
                    <<< </button>
            </ng-template>
            <div *ngIf="pagActua != pagExist; else elseButtonNext">
                <button class="button button2" (click)="nextPagina()">
                    >>
                </button>
            </div>
            <ng-template #elseButtonNext>
                <button class="button button2" style="opacity: 0.5">>></button>
            </ng-template>
        </div>

    </div>
</div>