<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <!-- TABLA -->
        <div class="row">
            <h2>NOTICIAS</h2>
            <tr>
                <table class="fl-table">
                    <tr>
                        <td><a href="/cbd/admin/noticias/crear" class="a">Agregar</a></td>
                        <td class="contenedor"><select class="combo">
                            <option>Vistas</option>
                            <option>Ocultas</option>
                        </select></td>
                    </tr>

                </table>
            </tr>

        </div>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Ubicación</th>
                        <th>Fecha</th>
                        <th>Pre descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenio con la universidad de Cuenca</td>
                        <td>Av.Larga</td>
                        <td>27/09/2015</td>
                        <td>Noticia ocurrada en el transcurso de la semana</td>
                        <td><a href="/cbd/admin/noticias/editar" (click)="confirmEditar()" class="a">Editar</a></td>
                        <td><a class="a">Eliminar</a></td>
                        <td><a href="/cbd/admin/noticias/detalle" class="a">Ver</a></td>
                        <td><a href="" class="a">Ocultar</a></td>
                        <!-- <td><button class="usuarios">Eliminar</button></td>
                        <td><button class="usuarios">Editar</button></td>
                        <td><button class="usuarios">Ver detalle</button></td> -->
                    </tr>
                <tbody>
            </table>
        </div>
    </div>
</div>