<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <section class="layout">
                <section class="datosper">
                    <h2 class="info">Información Formulario</h2>
                    <div class="datostotales">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="titulo">Nombre</td>
                                    <td class="datos">Marilyn Mendieta</td>
                                </tr>
                                <tr>
                                    <td class="titulo">Email</td>
                                    <td class="datos">Juan-mogrovejo@gmail.com</td>
                                </tr>
                                <tr>
                                    <td class="titulo">Celular</td>
                                    <td class="datos">0985860636</td>
                                </tr>
                                <tr>
                                    <p class="titulo">Asunto</p>
                                    <td class="datos">QUIERO</td>
                                </tr>
                                <tr>
                                    <td class="titulo">Detalle</td>
                                    <td class="datos">
                                        Queridooooooooooooooooooooooooooooooooooooooooooooooooooooooggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
        <!-- <div class="col-md-6">
        <section class="layout">
          <section class="datosuser">
            <h2 class="info">Información Usuario</h2>
            <div class="datostotales">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="titulo">Nombre de usuario</td>
                    <td class="datos">Juan-carlos</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </section>
      </div>
    </div> -->
    </div>
</div>
