<header class="header">
	<div class="header__inner">
		<div class="logo">
      <img width="10%" height="10%" src="../../../assets/img/logo_modificado.png" alt="">
		</div>
		<nav class="nav">
			<div class="divbutton">
        <a class="button" href="#">HOME</a>
			</div>
      <div class="divbutton">
				<a class="button" href="#">QUIENES SOMOS ?</a>
			</div>
      <div class="divbutton">
      	<a class="button" href="#">NOTICIAS</a>
			</div>
      <div class="divbutton">
      	<a class="button" href="#">RESTAURANT</a>
			</div>
		</nav>
	</div>
</header>
