@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
  font-family: 'Arvo', serif;
  transition: all .3s linear;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #27313d;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header .logo {
  color: #8D99AE;
  font-size: 2rem;
  font-weight: bold;
}

header .logo i {
  color: #EF233C;
  margin-right: .5rem;
}

header .navbar a {
  color: #EDF2F4;
  text-transform: uppercase;
  font-size: .8rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  font-weight: bold;
}

header .navbar a:hover {
  color: #D90429;
  background: #EDF2F4;
}

header #menu-btn {
  display: none;
  color: #EF233C;
  cursor: pointer;
}

header #menu-btn:hover {
  color: #EDF2F4;
}

img{
    width: 10%;
    height: 10%;
}