<header class="header" id="header">
	<nav class="navbar container">
		<a href="#" class="brand"><img width="40" height="50" src="../../../assets/img/ARTE_LOGO_PHARMA_2023.png"
				alt=""></a>
		<div class="burger" id="burger">
			<img width="20" height="20" src="https://img.icons8.com/ios-filled/50/menu--v1.png" alt="menu--v1" />
		</div>
		<div class="menu" id="menu">
			<ul class="menu-inner">
				<li class="menu-item"><a href="" class="menu-link">Home</a></li>
				<li class="menu-item"><a href="/n/nosotros/" class="menu-link">Nosotros</a></li>
				<li class="menu-item"><a href="/c/conoce_cannabis/" class="menu-link">Conoce Cannabis</a></li>
				<li class="menu-item"><a href="/nt/noticias_Pharma_cannabis/" class="menu-link">Noticias</a></li>
			</ul>
		</div>

		<button type="button" class="menu-block buttonsecundary">
			<a href="#" class="secundary">Nunakay</a>
		</button>
	</nav>
</header>