<body>
    <header class="main-header">
      <div class="header-wrapper">
        <div class="main-logo">MoGo</div>
        <nav>
          <ul class="main-menu">
            <li><a href="#section-2">About</a></li>
            <li><a href="#section-5">Service</a></li>
            <li><a href="#section-7">Work</a></li>
            <li><a href="#section-9">Blog</a></li>
            <li><a href="#main-footer">Contact</a></li>
            <li><a href="#"><span class="fa fa-shopping-cart"></span></a></li>
            <li><a href="#"><span class="fa fa-search"></span></a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>