<header class="header" id="header">
	<nav class="navbar container">

		<div *ngIf="logueado == false">
			<a href="/cbd/home" class="brand"><img class="img1" src="../../../assets/img/ARTE_LOGO_PHARMA_2023.png"
				alt=""></a>
		</div>
		<div *ngIf="logueado == true">
			<a href="/cbd/panel" class="brand"><img class="img1" src="../../../assets/img/ARTE_LOGO_PHARMA_2023.png"
				alt=""></a>
		</div>
		<div class="menu" id="menu" *ngIf="logueado == true">
			<ul class="menu-inner">
				<li class="menu-item"><a class="menu-link" (click)="cerrar()" >Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
</header>