<div class="primero">
    <div class="container">
        <form id="contact" >
            <h3>Editar datos de empresa</h3>
            <fieldset>
                <p class="nom">Nombre</p>
                <input placeholder="Nombre" type="text" name="nombre_empresa" tabindex="1" required [(ngModel)]="empresaData.nombreEmpresa" disabled="true">
                <!-- <small class="p-error" *ngIf="submitted == true && validar(empresaData.nombreEmpresa) == true">Observaciones is required.</small> -->
            </fieldset>
            <fieldset>
                <p class="nom">Email</p>
                <input placeholder="Email" type="email" name="email_empresa" tabindex="2" required [(ngModel)]="empresaData.emailEmpresa">
                <small class="p-error" *ngIf="submitted && !empresaData.emailEmpresa">Observaciones is required.</small>
            </fieldset>
            <fieldset>
                <p class="nom">Celular</p>
                <input placeholder="Celular" type="tel" name="celular_empresa" tabindex="3" required [(ngModel)]="empresaData.celularEmpresa">
                <small class="p-error" *ngIf="submitted && !empresaData.celularEmpresa">Observaciones is required.</small>
            </fieldset>
            <fieldset>
                <p class="nom">Link de whatsapp</p>
                <input placeholder="Link de whatsapp " type="url" name="sitio_web_empresa" tabindex="4" required [(ngModel)]="empresaData.urlCelularEmpresa">
                <small class="p-error" *ngIf="submitted && !empresaData.urlCelularEmpresa">Observaciones is required.</small>
            </fieldset>
            <fieldset>
                <p class="nom">Telefono</p>
                <input placeholder="Telefono" type="tel" name="telefono_empresa" tabindex="5" required [(ngModel)]="empresaData.telefonoEmpresa"  (blur)="validartelefono()">
                <small class="p-error" *ngIf="submitted && !empresaData.telefonoEmpresa">Observaciones is required.</small>
            </fieldset>
            <fieldset>
                <p class="nom">Dirección</p>
                <input placeholder="Dirección" type="text" name="direccion_empresa" tabindex="6" required [(ngModel)]="empresaData.direccionEmpresa">
                <small class="p-error" *ngIf="submitted && !empresaData.direccionEmpresa">Observaciones is required.</small>
            </fieldset>
            <fieldset>
                <p class="nom">Dirección en html de google maps</p>
                <input placeholder="Dirección google en html " type="url" name="sitio_web_empresa_GOOGLE" tabindex="7" required [(ngModel)]="empresaData.urlDireccionEmpresaGoogle">
                <small class="p-error" *ngIf="submitted && !empresaData.urlDireccionEmpresaGoogle">Observaciones is required.</small>
            </fieldset>
            <fieldset>
                <p class="nom">Dirección de mapa</p>
                <input placeholder="Dirección maps" type="url" name="sitio_web_empresa" tabindex="8" required [(ngModel)]="empresaData.urlDireccionEmpresa">
                <small class="p-error" *ngIf="submitted && !empresaData.urlDireccionEmpresa">Observaciones is required.</small>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando" (click)="updateEmpresa()">Editar</button>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Saliendo" (click)="salir()">Cancelar</button>
            </fieldset>
        </form>
    </div>
</div>