<!-- <div class="container ">
    <section class="layout">

        <div class="divPrimero">
            <section class="datosper" d-flex justify-content-center align-items-center>
                <h2 class="info">Respuesta del Formulario</h2>
                <div class="datostotales">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="titulo">Nombre</td>
                                <td class="datos">Marilyn Mendieta</td>
                            </tr>
                            <tr>
                                <td class="titulo">Email</td>
                                <td class="datos">Marilyn-mendieta@hotmail.com</td>
                            </tr>
                            <tr>
                                <td class="titulo">Celular</td>
                                <td class="datos">0985860636</td>
                            </tr>
                            <tr>
                                <p class="titulo">Asunto</p>
                                <td class="datos">Noseeeeeeeeeeeeeeeeeeeee</td>
                            </tr>
                            <tr>
                                <td class="titulo">Descripción</td>
                                <td class="datos">
                                    Holaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>

    </section>
</div> -->

<div class="primero">
    <div class="container">
        <form id="contact" >
            <h3>Respuesta del Formulario</h3>
            <fieldset>
                <p class="nom">Nombre</p>
                <input placeholder="Nombre" type="text" name="nombre_contactanos" tabindex="1" required [(ngModel)]=" contactanosObject.nombreContactanos" disabled="true">
                <!-- <small class="p-error" *ngIf="submitted == true && validar(empresaData.nombreEmpresa) == true">Observaciones is required.</small> -->
            </fieldset>
            <fieldset>
                <p class="nom">Email</p>
                <input placeholder="Email" type="email" name="email_contactanos" tabindex="2" required [(ngModel)]="contactanosObject.emailContactanos" disabled="true">
                <!-- <small class="p-error" *ngIf="submitted && !empresaData.emailEmpresa">Observaciones is required.</small> -->
            </fieldset>
            <fieldset>
                <p class="nom">Celular</p>
                <input placeholder="Celular" type="tel" name="celular_contactanos" tabindex="3" required [(ngModel)]="contactanosObject.celularContactanos" disabled="true">
                <!-- <small class="p-error" *ngIf="submitted && !empresaData.celularEmpresa">Observaciones is required.</small> -->
            </fieldset>
            <fieldset>
                <p class="nom">Asunto</p>
                <input placeholder="Asunto " type="url" name="asunto_contactanos" tabindex="4" required [(ngModel)]="contactanosObject.asuntoContactanos" disabled="true">
                <!-- <small class="p-error" *ngIf="submitted && !empresaData.urlCelularEmpresa">Observaciones is required.</small> -->
            </fieldset>
            <fieldset>
                <p class="nom">Descripcion</p>
                <textarea placeholder="Detalle" type="tel" name="detalle_contactanos" tabindex="5" required [(ngModel)]="contactanosObject.detalleContactanos" disabled="true"></textarea>
                <!-- <small class="p-error" *ngIf="submitted && !empresaData.telefonoEmpresa">Observaciones is required.</small> -->
            </fieldset>
            <fieldset>
                <!-- <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando" (click)="updateEmpresa()">Editar</button> -->
                <button name="submit" type="submit" id="contact-submit" data-submit="...Saliendo" (click)="salir()">Exit</button>
            </fieldset>
        </form>
    </div>
</div>