<div class="container ">
    <!-- <div class="row">
        <div class="col-md-6"> -->
    <section class="layout">
        <h2 class="info">Noticias</h2>
        <div class="divPrimero">
            <section class="datosper" d-flex justify-content-center align-items-center>
                <div class="datostotales">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="titulo">Titulo</td>
                                <td class="datos">Contrato con SoinMed</td>
                            </tr>
                            <tr>
                                <td class="titulo">Ubicación</td>
                                <td class="datos">Av.Del Tejar</td>
                            </tr>
                            <tr>
                                <td class="titulo">Fecha de Noticia</td>
                                <td class="datos">27-09-2023</td>
                            </tr>
                            <tr>
                                <p class="titulo">Descripción</p>
                                <td class="datos">Contrato con insumos medicos para la elaboración</td>
                            </tr>
                            <tr>
                                <td class="titulo">Parrafo 1</td>
                                <td class="datos">
                                    Holaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
                            </tr>
                            <tr>
                                <td class="titulo">Parrafo 2</td>
                                <td class="datos">
                                    chaoooooooooooooooooooooooooooooooooooooooooooooooooooooooo</td>
                            </tr>
                            <tr>
                                <td class="titulo">Parrafo 3</td>
                                <td class="datos">
                                    ADIOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS</td>
                            </tr>
                            <tr>
                                <td class="titulo">Parrafo 4</td>
                                <td class="datos">
                                    noooooooooooooooooooooooooooooooooooooooooooooooooooo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>

    </section>
</div>