<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <section>
            <div class="cards">
                <div class="card">
                    <div class="card__cover">
                        <img src="../../../assets/img/mision.jpg"
                            alt="Person Carolina Herrera">
                        <div class="card__cover--back"
                            style="background-image: url('https://raw.githubusercontent.com/Magtimus/tarjetas-css-con-efecto-hover-parallax/main/images/bg1.jpg');">
                        </div>
                    </div>
                    <div class="card__body">
                        <h2>Carolina Herrera</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore fugit,
                            necessitatibus eos deserunt eligendi reiciendis nisi sequi, dolor deleniti est rerum
                            accusantium sit voluptatibus nesciunt, esse nulla voluptates? Reprehenderit?</p>
                        <input type="button" value="Leer más">
                    </div>
                </div>
                <div class="card">
                    <div class="card__cover">
                        <img src="https://raw.githubusercontent.com/Magtimus/tarjetas-css-con-efecto-hover-parallax/main/images/p2.png"
                            alt="Person Elon Musk">
                        <div class="card__cover--back"
                            style="background-image: url('https://raw.githubusercontent.com/Magtimus/tarjetas-css-con-efecto-hover-parallax/main/images/bg2.jpg');">
                        </div>
                    </div>
                    <div class="card__body">
                        <h2>Elon Musk</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore fugit,
                            necessitatibus eos deserunt eligendi reiciendis nisi sequi, dolor deleniti est rerum
                            accusantium sit voluptatibus nesciunt, esse nulla voluptates? Reprehenderit?</p>
                        <input type="button" value="Leer más">
                    </div>
                </div>
                <div class="card">
                    <div class="card__cover">
                        <img src="https://raw.githubusercontent.com/Magtimus/tarjetas-css-con-efecto-hover-parallax/main/images/p3.png"
                            alt="Person Aya Nakamora">
                        <div class="card__cover--back"
                            style="background-image: url('https://raw.githubusercontent.com/Magtimus/tarjetas-css-con-efecto-hover-parallax/main/images/bg3.jpg');">
                        </div>
                    </div>
                    <div class="card__body">
                        <h2>Aya Nakamora</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore fugit,
                            necessitatibus eos deserunt eligendi reiciendis nisi sequi, dolor deleniti est rerum
                            accusantium sit voluptatibus nesciunt, esse nulla voluptates? Reprehenderit?</p>
                        <input type="button" value="Leer más">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>