<!-- ALL -->
<div class="divPrimero">
    <div class="divSegundo">
        <section class="videoSection">
            <div class="videoBody">
                <div class="video-responsive">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/H73nPwAPK3s"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </section>
    </div>
</div>





<div class="divPrimeroBlack">
    <div class="divSegundo_padingBlack">
        <!-- VISION_MISION -->
        <section class="MisionVisionSection">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <h2>¿Quiénes somos?</h2>
                        <blockquote>
                            <p>
                                {{ empresaObject.historia }}
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h2>Nuestra Misión</h2>
                        <blockquote>
                            <p>
                                {{ empresaObject.mision }}
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h2>Nuestra Visión</h2>
                        <blockquote>
                            <p>
                                {{ empresaObject.vision }}
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
        <!-- VISION_MISION -->
    </div>
</div>





<div class="divPrimero">
    <div class="divSegundo">
        <span class="divTercero">
            <h1 class="h1All">Equipo</h1>
        </span>
        <section class="equipoSection">
            <!-- EQUIPO -->
            <div class="container">
                <span class="image"><img src="../../../assets/img/eq1.jpg"></span>
                <span class="image"><img src="../../../assets/img/eq2.jpg"></span>
                <span class="image"><img src="../../../assets/img/eq3.jpg"></span>
                <span class="image"><img src="../../../assets/img/eq4.jpg"></span>
            </div>
            <!-- EQUIPO -->
        </section>
    </div>
</div>





<div class="divPrimero">
    <div class="divSegundo_pading">
        <span class="divTercero">
            <h1 class="h1All">INSTALACIONES ADMINISTRATIVAS</h1>
        </span>
        <section class="sectionImagenes">
            <!-- IMAGENES -->
            <div class="bodyImagenes">
                <div id="galeria">
                    <figure id="ampliacao">
                        <img src="../../../assets/img/adm1.jpg" alt="" />
                    </figure>
                    <nav id="miniaturas">
                        <a href="../../../assets/img/adm2.jpg"><img src="../../../assets/img/adm2.jpg" alt="" /></a>
                        <a href="../../../assets/img/adm3.jpg"><img src="../../../assets/img/adm3.jpg" alt="" /></a>
                        <a href="../../../assets/img/adm4.jpg"><img src="../../../assets/img/adm4.jpg" alt="" /></a>
                        <a href="../../../assets/img/adm4.jpg"><img src="../../../assets/img/adm4.jpg" alt="" /></a>
                        <a href="../../../assets/img/adm4.jpg"><img src="../../../assets/img/adm4.jpg" alt="" /></a>
                    </nav>
                </div>
            </div>
            <!-- IMAGENES -->
        </section>
    </div>
</div>





<div class="divPrimero">
    <div class="divSegundo_padingBlack">
        <span class="divTercero">
            <h1 class="h1All">Valores</h1>
        </span>
        <!-- VALORES -->
        <section class="valoresSection">
            <div class="bodyValores">
                <div class="tabs">
                    <input type="radio" id="tab1" name="tab-control" checked>
                    <input type="radio" id="tab2" name="tab-control">
                    <input type="radio" id="tab3" name="tab-control">
                    <input type="radio" id="tab4" name="tab-control">
                    <ul>
                        <li title="Features"><label for="tab1" role="button"><img src="../../../assets/img/val1.png"
                                    alt=""><br><span>COMPROMISO</span></label></li>
                        <li title="Delivery Contents"><label for="tab2" role="button"><img
                                    src="../../../assets/img/val2.png" alt=""><br><span>HONESTIDAD</span></label></li>
                        <li title="Shipping"><label for="tab3" role="button"><img src="../../../assets/img/val3.png"
                                    alt=""><br><span>INNOVACIÓN</span></label></li>
                        <li title="Returns"><label for="tab4" role="button"><img src="../../../assets/img/val4.jpg"
                                    alt=""><br><span>RESPONSABILIDAD</span></label></li>
                    </ul>
                    <div class="slider">
                        <div class="indicator"></div>
                    </div>
                    <div class="content">
                        <section>
                            <h2>COMPROMISO</h2>
                            Nuestro compromiso es mantener altos estándares de calidad desde el inicio de nuestra cadena
                            productiva hasta su consumidor final.
                        </section>
                        <section>
                            <h2>HONESTIDAD</h2>
                            La honestidad en todos nuestros procedimientos de gestión interna y externa es un pilar
                            fundamental para nuestro equipo humano en todas sus áreas de desarrollo.
                        </section>
                        <section>
                            <h2>INNOVACIÓN</h2>
                            Estamos preparándonos constantemente en las actualizaciones técnicas, formativas,
                            científicas y normativas, con el fin de aplicarlo en todos nuestros departamentos de
                            gestión, producción y comercialización.
                        </section>
                        <section>
                            <h2>RESPONSABILIDAD</h2>Nuestra empresa se caracteriza por un alto grado de responsabilidad
                            social y ambiental por cada una las actividades que sean realizadas.
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- VALORES -->
    </div>
</div>
<!-- ALL -->