$color-all-uno: #ffffff;
$color-all-dos: #ffffff;
$color-fondo1: #1a1e1a;
$color-letra: #000000;
$color-letrav: #3fa22d;
$color-all-empresas: #bbb9bc;
$fuente-principal: "Monserrat", sans-serif;
$fuente-secundaria: "Century Gothic", sans-serif;
$negrita: bold;


.divPrimero {
  position: relative;
}

.divSegundo {
  color: #ddd;
  background-color: $color-all-uno;
  text-align: center;
  text-align: justify;
  padding-top: 80px;
}

.divSegundo_pading {
  color: #ddd;
  background-color: $color-all-uno;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}



.divPrimeroBlack {
  position: relative;
  background-color: $color-all-dos;
  padding-top: 30px;
  padding-bottom: 30px;
}

.divSegundoBlack {
  color: #ddd;
  background-color: $color-all-dos;
  text-align: center;
  text-align: justify;
}

.divSegundo_padingBlack {
  color: #ddd;
  background-color: $color-all-dos;
  text-align: center;
  // padding: 50px 80px;
  text-align: justify;
  padding: 20px;

}





.h1All,
.h2All {
  text-align: center;
  font-family: #{$fuente-principal};
  color: $color-letra;
}

.h1All {
  background-color: $color-letrav;
}

.tittle1 {
  font-family: #{$fuente-principal};
}



// ALL





// VIDEO
.videoSection {
  @media only screen and (max-width:550px) {
    .videoBody {
      background-color: #FFFFFF;
      font-family: verdana, helvetica;
      font-size: 10px;
    }
  }

  @media only screen and (min-width:551px) {
    .videoBody {
      background-color: #FFFFFF;
      font-family: verdana, arial;
      font-size: 15px;
    }
  }

  .video-responsive {
    position: relative;
    padding-bottom: 40%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// VIDEO





// VISION_MISION
.MisionVisionSection {

  .container {
    font-family: $fuente-secundaria;
    overflow-x: hidden;
    color: $color-letra;
  }

  hr {
    margin: 10px 0;
  }

  h3,
  h4 {
    text-align: center;
    font-weight: bold;
  }

  h2 {
    text-align: left;
    position: relative;
    margin-bottom: 40px;
    color: $color-letra;
    font-family: $fuente-principal;
  }


  h2:after {
    display: inline-block;
    content: '';
    width: 45px;
    height: 10px;
    border-top: 5px solid $color-letrav;
    // border-top: 5px solid #B5C3D5;
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  a,
  a:hover {
    color: rgb(202, 32, 32);
  }

  a:hover {
    transition: background-color, color .3s ease-in-out;
  }

  @media (max-width: 770px) {
    .row {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  }

  .col {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 770px) {
  .col {
    flex-basis: 20%;
    max-width: 20%;
  }
}
.col-xs-12,
.col-sm-4,
.col-md-4 {
    max-width: 100%;
    word-wrap: break-word;
}




// VISION_MISION





// EQUIPO
.equipoSection {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100%;


  .container {
    display: flex;
    flex-basis: 95%;
    height: 30rem;
  }

  span.image {
    position: relative;
    overflow: hidden;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    transition: flex-grow 0.4s ease-in;
  }


  span.image:before {
    display: block;
    content: '';
    padding-left: 8rem;
    background: #000;
  }

  img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .container .image:hover {
    flex-grow: 2;
  }
}

@media screen and (max-width: 774px) {
  .container {
    flex-wrap: wrap;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
  }

  span.image {
    flex-basis: calc(50% - 1rem);
    height: 15rem;
    margin: 0.5rem 0.5rem 2rem;
  }

  img {
    width: 100%;
    height: 100%;
    position: static;
    transform: none;
  }

  span.image:before {
    padding-left: 0;
  }
}

// EQUIPO





// IMAGENES
.sectionImagenes {
  .bodyImagenes {
    text-align: center;
  }

  #galeria {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
  }


  #ampliacao {
    width: 800px;
    // height: 800px;
    background-color: transparent;
    margin: 0 auto;
  }

  #ampliacao img {
    width: 100%;
    height: auto;
  }

  #galeria nav {
    margin-top: 0.5em;
  }

  #galeria nav img {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 150px;
    height: 150px;
  }


  /* Estilos para pantallas medianas y grandes */
  @media screen and (max-width: 774px) {
    .divPrimero {
      width: 100%;
    }

    .divSegundo,
    .divSegundo_pading {
      padding: 0px;
    }

    .sectionImagenes {
      margin-top: 5px;
    }

    #galeria {
      max-width: 800px;
      margin: 0 auto;
    }

    #galeria nav {
      margin-top: 0.5em;
    }

    #ampliacao {
      width: 100%;
    }

    #miniaturas {
      width: 25%;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #miniaturas a {
      margin: 10px;
      width: calc(50% - 2.5px);
      height: 100px;
    }
  }

  @media screen and (max-width: 500px) {
    #miniaturas a {
      margin: 5px;
      width: calc(30% - 5px);
      height: 50px;
    }

  }

  @media screen and (max-width: 778px) {
    #miniaturas {
      width: 100%;
      margin-left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-direction: row;
      /* Establecer la dirección de flujo en horizontal */
      overflow-x: auto;
      /* Agregar scroll horizontal */
      -webkit-overflow-scrolling: touch;
      /* Agregar scroll fluido en iOS */
    }

    #miniaturas a {
      margin: 10px;
      width: 100px;
      height: 100px;
    }

    #ampliacao {
      width: 100%;
    }
  }

}



// IMAGENES





// VALORES
.valoresSection {

  overflow: hidden;

  .bodyValores {
    background: transparent;
    color: $color-fondo1;
    font-family: #{$fuente-principal};
    height: 100%;
    font-family: $negrita;

  }

  .valoresSection {
    border: 10px double

  }

  .tittle1 {
    size: 2px;
  }

  /* Media queries para pantallas pequeñas */
  @media (max-width: 550px) {
    .tabs li {
      margin-bottom: 10px;
    }

    .content h2 {
      // font-size: 1.5rem; /* Tamaño de fuente más pequeño */
      display: none;
    }
  }

  /* Media queries para pantallas medianas */
  @media (min-width: 774px) and (max-width: 768px) {
    .tabs li {
      margin-bottom: 20px;
    }
  }

  .h2All {
    font-family: $negrita;
    color: $color-letra;
    text-size-adjust: 10px;
  }


  li img {
    width: 50px;
    margin: 10px;
  }

  .content {
    padding: 20px 0;
    /* Agrega un espacio entre el borde de la sección y el contenido */
    max-height: 400px;
    /* Limita la altura máxima del contenido */
    overflow-y: auto;
    /* Agrega una barra de desplazamiento vertical si el contenido es demasiado largo */


  }

  .tabs {
    left: 50%;
    transform: translateX(-50%);
    position: relative; // background: $color-fondo1;
    background: transparent;
    font-family: $fuente-secundaria;
    padding: 50px;
    padding-bottom: 80px;
    width: 80%;
    height: 250px;
    // box-shadow: 0 14px 28px rgba(155, 144, 144, 0.25), 0 10px 10px rgba(155, 144, 144, 0.25);
    box-shadow: 5px 10px 10px #000000, 10px 15px 5px #3fa22d;
    // border-bottom:  5px 10px 10px #000000, 10px 15px 5px #3fa22d;;
    border-radius: 5px;
    border: 4px double;
    min-width: 240px;
    padding: 20px 0;
    /* Agrega un espacio entre el borde de la sección y el contenido */
    max-height: 400px;
    /* Limita la altura máxima del contenido */
    overflow-y: auto;

  }

  .tabs input[name="tab-control"] {
    display: none;
  }

  .tabs .content section h2,
  .tabs ul li label {
    font-family: $fuente-secundaria;
    font-weight: bold;
    font-size: 18px;
    color: #428bff;
  }

  .tabs .content section h2 {
    font-family: $fuente-secundaria;
  }


  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

  }

  .tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
  }

  .tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
  }

  .tabs ul li label br {
    display: none;
  }

  .tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
  }

  .tabs ul li label:hover,
  .tabs ul li label:focus,
  .tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
  }

  .tabs ul li label:hover svg,
  .tabs ul li label:focus svg,
  .tabs ul li label:active svg {
    fill: #bec5cf;
  }

  .tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }

  .tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: $color-letrav;
    border-radius: 1px;
  }

  .tabs .content {
    margin-top: 30px;
  }

  .tabs .content section {
    display: none;
    animation-name: content;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    line-height: 1.4;
  }

  .tabs .content section h2 {
    color: $color-letrav;
    display: none;

  }

  .tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: $color-letrav;
    margin-top: 5px;
    left: 1px;
  }

  .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    cursor: default;
    color: $color-letrav;
  }

  .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label svg {
    fill: $color-letrav;
  }

  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
      background: rgba(0, 0, 0, 0.08);
    }
  }

  .tabs input[name="tab-control"]:nth-of-type(1):checked~.slider {
    transform: translateX(0%);
  }

  .tabs input[name="tab-control"]:nth-of-type(1):checked~.content>section:nth-child(1) {
    display: block;
  }

  .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
    cursor: default;
    color: $color-letrav;
  }

  .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label svg {
    fill: $color-letrav;
  }

  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
      background: rgba(0, 0, 0, 0.08);
    }
  }

  .tabs input[name="tab-control"]:nth-of-type(2):checked~.slider {
    transform: translateX(100%);
  }

  .tabs input[name="tab-control"]:nth-of-type(2):checked~.content>section:nth-child(2) {
    display: block;
  }

  .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    cursor: default;
    color: $color-letrav;
  }

  .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label svg {
    fill: $color-letrav;
  }

  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
      background: rgba(0, 0, 0, 0.08);
    }
  }

  .tabs input[name="tab-control"]:nth-of-type(3):checked~.slider {
    transform: translateX(200%);
  }

  .tabs input[name="tab-control"]:nth-of-type(3):checked~.content>section:nth-child(3) {
    display: block;
  }

  .tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
    cursor: default;
    color: $color-letrav;
  }

  .tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label svg {
    fill: $color-letrav;
  }

  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
      background: rgba(0, 0, 0, 0.08);
    }
  }

  .tabs input[name="tab-control"]:nth-of-type(4):checked~.slider {
    transform: translateX(300%);
  }

  .tabs input[name="tab-control"]:nth-of-type(4):checked~.content>section:nth-child(4) {
    display: block;
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: 1000px) {
    .tabs ul li label {
      white-space: initial;
    }

    .tabs ul li label br {
      display: initial;
    }

    .tabs ul li label svg {
      height: 1.5em;
    }
  }

  @media (max-width: 600px) {
    .tabs ul li label {
      padding: 5px;
      border-radius: 5px;
    }

    .tabs ul li label span {
      display: none;
    }

    .tabs .slider {
      display: none;
    }

    .tabs .content {
      margin-top: 20px;
    }

    .tabs .content section h2 {
      display: block;
    }

  }
  @media (max-width: 320px) and (min-height: 868px) {
    .tabs li label img {
      width: 40px; /* Ajusta el tamaño de la imagen según tus necesidades */
    }
    
    .tabs li label .title {
      display: none;
    }
    li img {
      margin: 0px;
    }
  }

}


// VALORES

//FORMULARIO
// .formularioSection{
.titulos {
  font-family: $fuente-principal;
  color: $color-letrav;
  text-align: center;
}

.campos {
  font-family: $fuente-principal;
  color: $color-letra;
  background-color: #F3F0F2;
  border-block-start: none;
  width: 70%;
  margin: 3px;
  background-position: center;
  background-size: min(80%, 800px) max(30vw, 700px);
}

.descripcion {
  font-family: $fuente-principal;
  color: $color-letra;
  text-size-adjust: initial;
  background-color: #F3F0F2;
  border-block-start: none;
  height: 200px;
  margin: 3px;
  width: 70%;
  justify-content: center;
  padding: 12px 10px 3px 5px;
  background-size: min(80%, 800px) max(30vw, 700px);
  display: flex;

}

.input-box {
  display: flex;
  justify-content: center;
  margin-left: 10px;

}

.enviar {
  color: $color-all-uno;
  background-color: $color-letrav;
  font-size: 20px;
  padding: 5px 10px;
  text-align: right;
}

.button {
  text-align: right;
}

.hola {
  color: #3fa22d;
}

.texto {
  color: #000;
  margin-left: 15%;
}

#layout3 {
  display: none;
}

.mostrar {
  display: block;
}

.link {
  font-family: $fuente-secundaria;
  cursor: pointer;
}


//distribuidor 
.layout3 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.imagen {
  width: 300px;
  height: 100%;
}

.titulodis {
  font-size: 24px;
  font-family: $fuente-principal;
  font-weight: $negrita;
  color: $color-letrav;
}

.row .col-md-4 .row .col-md-2 {
  border-radius: 3px;
  border-color: $color-letra;
  background-color: $color-all-empresas;
}

.layout3 {
  color: $color-letra;
  font-family: $fuente-secundaria;
  border: #000;
  border-radius: 30px;
}

.horarios1 {
  border-radius: 10px;
}

.p-error{
	color: red;
}

.buttonsecundary{
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: #048ABF 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
  align-items: center;
  background-color: #6654c9;
  background-size: 100% auto;
  margin: 1px;


  width: 200px;
  height: 80px;
}
.main{
  position: sticky;
  color: $color-letrav;
  left: 90%;
  transform: translateX(-100%);
  width: fit-content;
  margin-right: 15px;
  border-radius: 10px;
  color: $color-all-uno;
  background-color: $color-letrav;
  font-size: 20px;
  padding: 5px 20px;
  text-align: right;
  margin-bottom: 10px;
}



//distribuidor